(
    version: 1,
    field_id: "water",
    x: 0,
    z: 1,
    samples_per_edge: 33,
    sample_spacing_meters: 8.0,
    source_version: "tf2_0a9cb5fb5409e8fb",
    samples: [
        472,
        510,
        618,
        797,
        1045,
        1356,
        1718,
        2138,
        2637,
        3219,
        3883,
        4631,
        5460,
        6354,
        7301,
        8294,
        8299,
        7403,
        6619,
        5911,
        5247,
        4651,
        4138,
        3724,
        3421,
        3244,
        3196,
        3262,
        3408,
        3618,
        3875,
        4198,
        4612,
        1007,
        1046,
        1157,
        1338,
        1583,
        1888,
        2244,
        2653,
        3125,
        3667,
        4285,
        4987,
        5778,
        6646,
        7567,
        8331,
        7418,
        6598,
        5881,
        5232,
        4624,
        4078,
        3610,
        3232,
        2956,
        2801,
        2770,
        2851,
        3011,
        3232,
        3498,
        3830,
        4254,
        1729,
        1764,
        1866,
        2032,
        2261,
        2547,
        2891,
        3283,
        3723,
        4221,
        4790,
        5444,
        6196,
        7034,
        7928,
        7371,
        6540,
        5796,
        5146,
        4555,
        4004,
        3508,
        3084,
        2743,
        2494,
        2360,
        2345,
        2436,
        2603,
        2829,
        3097,
        3430,
        3856,
        2599,
        2628,
        2716,
        2861,
        3066,
        3331,
        3659,
        4031,
        4438,
        4894,
        5417,
        6024,
        6737,
        7544,
        7282,
        6453,
        5699,
        5027,
        4440,
        3907,
        3409,
        2962,
        2581,
        2277,
        2056,
        1942,
        1938,
        2032,
        2199,
        2422,
        2683,
        3008,
        3425,
        3555,
        3581,
        3659,
        3790,
        3980,
        4228,
        4543,
        4898,
        5278,
        5701,
        6186,
        6754,
        7432,
        7188,
        6366,
        5610,
        4925,
        4317,
        3788,
        3308,
        2860,
        2461,
        2121,
        1851,
        1658,
        1560,
        1562,
        1653,
        1811,
        2021,
        2267,
        2574,
        2970,
        4528,
        4556,
        4639,
        4777,
        4973,
        5222,
        5529,
        5869,
        6224,
        6617,
        7069,
        7600,
        7060,
        6256,
        5510,
        4826,
        4210,
        3664,
        3188,
        2759,
        2361,
        2007,
        1710,
        1475,
        1308,
        1224,
        1226,
        1304,
        1442,
        1629,
        1851,
        2130,
        2493,
        5504,
        5540,
        5645,
        5811,
        6032,
        6299,
        6606,
        6929,
        7255,
        7612,
        7790,
        6886,
        6074,
        5349,
        4684,
        4081,
        3538,
        3055,
        2632,
        2250,
        1901,
        1596,
        1342,
        1143,
        1002,
        929,
        925,
        984,
        1095,
        1250,
        1442,
        1688,
        2010,
        6502,
        6551,
        6689,
        6897,
        7160,
        7457,
        7770,
        8074,
        8370,
        7577,
        6700,
        5876,
        5141,
        4494,
        3911,
        3387,
        2917,
        2496,
        2122,
        1785,
        1484,
        1225,
        1013,
        849,
        734,
        671,
        660,
        697,
        779,
        900,
        1058,
        1266,
        1543,
        7552,
        7617,
        7792,
        8049,
        8362,
        8693,
        8740,
        8058,
        7289,
        6482,
        5688,
        4944,
        4285,
        3714,
        3208,
        2757,
        2354,
        1991,
        1663,
        1367,
        1111,
        895,
        722,
        591,
        499,
        446,
        429,
        449,
        503,
        592,
        714,
        884,
        1114,
        8638,
        8628,
        8580,
        8466,
        8262,
        7941,
        7482,
        6888,
        6206,
        5486,
        4776,
        4112,
        3526,
        3024,
        2587,
        2200,
        1855,
        1543,
        1255,
        1000,
        784,
        607,
        469,
        367,
        297,
        255,
        237,
        243,
        276,
        335,
        425,
        557,
        740,
        7186,
        7187,
        7172,
        7107,
        6968,
        6720,
        6342,
        5831,
        5237,
        4605,
        3979,
        3394,
        2877,
        2437,
        2056,
        1721,
        1422,
        1151,
        903,
        685,
        505,
        363,
        256,
        181,
        132,
        103,
        89,
        89,
        106,
        142,
        202,
        295,
        433,
        5939,
        5945,
        5941,
        5899,
        5795,
        5599,
        5287,
        4860,
        4360,
        3825,
        3291,
        2788,
        2339,
        1952,
        1614,
        1316,
        1052,
        816,
        604,
        423,
        279,
        171,
        95,
        48,
        22,
        10,
        4,
        3,
        7,
        20,
        49,
        104,
        198,
        4839,
        4844,
        4839,
        4804,
        4718,
        4557,
        4302,
        3958,
        3557,
        3127,
        2693,
        2275,
        1891,
        1550,
        1246,
        978,
        742,
        537,
        361,
        218,
        112,
        42,
        6,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        3,
        45,
        3887,
        3888,
        3877,
        3840,
        3762,
        3626,
        3419,
        3149,
        2843,
        2514,
        2175,
        1838,
        1514,
        1213,
        940,
        699,
        490,
        316,
        178,
        77,
        15,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        3078,
        3075,
        3058,
        3018,
        2945,
        2829,
        2661,
        2454,
        2228,
        1985,
        1728,
        1462,
        1192,
        929,
        687,
        474,
        294,
        154,
        57,
        4,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        2408,
        2403,
        2383,
        2342,
        2276,
        2177,
        2041,
        1883,
        1716,
        1538,
        1345,
        1136,
        912,
        687,
        477,
        295,
        150,
        50,
        1,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1868,
        1863,
        1846,
        1811,
        1755,
        1673,
        1562,
        1437,
        1308,
        1170,
        1018,
        850,
        666,
        478,
        305,
        161,
        55,
        1,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1470,
        1466,
        1451,
        1422,
        1375,
        1306,
        1213,
        1107,
        995,
        875,
        744,
        602,
        450,
        300,
        169,
        67,
        6,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1208,
        1203,
        1188,
        1159,
        1114,
        1052,
        970,
        873,
        766,
        649,
        526,
        399,
        275,
        162,
        73,
        13,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1053,
        1047,
        1028,
        996,
        950,
        889,
        813,
        720,
        608,
        488,
        367,
        252,
        151,
        71,
        18,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        985,
        977,
        954,
        917,
        866,
        803,
        729,
        633,
        515,
        388,
        266,
        159,
        76,
        23,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        989,
        980,
        952,
        909,
        852,
        784,
        707,
        607,
        479,
        344,
        218,
        115,
        43,
        6,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1030,
        1019,
        988,
        940,
        879,
        806,
        725,
        620,
        486,
        344,
        214,
        110,
        41,
        6,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1088,
        1078,
        1051,
        1006,
        946,
        873,
        790,
        681,
        541,
        394,
        258,
        147,
        69,
        22,
        1,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1171,
        1166,
        1148,
        1116,
        1068,
        1002,
        918,
        802,
        656,
        500,
        353,
        230,
        137,
        72,
        26,
        1,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1283,
        1284,
        1282,
        1269,
        1239,
        1184,
        1101,
        979,
        825,
        660,
        502,
        364,
        256,
        169,
        92,
        33,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1428,
        1436,
        1451,
        1460,
        1452,
        1412,
        1331,
        1203,
        1043,
        870,
        701,
        550,
        429,
        319,
        208,
        110,
        36,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        13,
        1612,
        1626,
        1656,
        1686,
        1698,
        1673,
        1595,
        1464,
        1298,
        1119,
        941,
        780,
        648,
        518,
        376,
        239,
        123,
        42,
        2,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        15,
        57,
        101,
        1841,
        1859,
        1898,
        1940,
        1964,
        1949,
        1876,
        1743,
        1575,
        1390,
        1206,
        1038,
        898,
        756,
        590,
        423,
        274,
        155,
        73,
        28,
        9,
        2,
        0,
        0,
        0,
        0,
        0,
        5,
        24,
        62,
        123,
        190,
        245,
        2133,
        2147,
        2180,
        2212,
        2227,
        2206,
        2133,
        2006,
        1846,
        1669,
        1492,
        1325,
        1183,
        1033,
        855,
        670,
        497,
        350,
        237,
        165,
        124,
        102,
        92,
        86,
        78,
        76,
        85,
        108,
        148,
        206,
        286,
        366,
        426,
        2493,
        2497,
        2502,
        2499,
        2479,
        2433,
        2355,
        2242,
        2107,
        1959,
        1806,
        1658,
        1520,
        1366,
        1181,
        984,
        797,
        630,
        496,
        402,
        343,
        307,
        285,
        272,
        260,
        254,
        263,
        289,
        332,
        395,
        479,
        564,
        632,
        2908,
        2896,
        2860,
        2805,
        2735,
        2654,
        2567,
        2474,
        2375,
        2269,
        2155,
        2035,
        1908,
        1753,
        1566,
        1365,
        1169,
        992,
        846,
        736,
        659,
        606,
        570,
        545,
        527,
        515,
        518,
        537,
        572,
        627,
        705,
        790,
        865,
        3359,
        3328,
        3248,
        3137,
        3014,
        2896,
        2800,
        2729,
        2670,
        2610,
        2541,
        2456,
        2342,
        2190,
        2005,
        1806,
        1610,
        1430,
        1280,
        1161,
        1067,
        996,
        943,
        905,
        880,
        863,
        854,
        858,
        877,
        914,
        976,
        1055,
        1136,
    ],
    tile_revision: 1,
)