(
    version: 1,
    field_id: "water",
    x: 0,
    z: 16,
    samples_per_edge: 33,
    sample_spacing_meters: 8.0,
    source_version: "tf2_1760c34c2b6afa58",
    samples: [
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        59619,
        59595,
        59613,
        59680,
        59778,
        59892,
        60014,
        60140,
        60266,
        60388,
        60503,
        60608,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        59992,
        59917,
        59853,
        59810,
        59797,
        59823,
        59895,
        60000,
        60124,
        60260,
        60404,
        60547,
        60687,
        60817,
        60933,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        60208,
        60119,
        60038,
        59972,
        59928,
        59915,
        59939,
        60008,
        60114,
        60244,
        60392,
        60551,
        60713,
        60876,
        61033,
        61180,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        60065,
        59983,
        59907,
        59843,
        59796,
        59774,
        59781,
        59823,
        59909,
        60035,
        60188,
        60359,
        60540,
        60723,
        60906,
        61085,
        61252,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        59818,
        59745,
        59679,
        59628,
        59595,
        59587,
        59609,
        59665,
        59768,
        59913,
        60087,
        60280,
        60482,
        60685,
        60888,
        61086,
        61271,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        59612,
        59562,
        59498,
        59441,
        59396,
        59371,
        59370,
        59400,
        59467,
        59584,
        59747,
        59943,
        60157,
        60380,
        60602,
        60822,
        61037,
        61239,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        59334,
        59299,
        59247,
        59198,
        59158,
        59136,
        59138,
        59173,
        59248,
        59376,
        59556,
        59770,
        60005,
        60246,
        60482,
        60717,
        60946,
        61159,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        59036,
        59029,
        58999,
        58966,
        58937,
        58923,
        58932,
        58973,
        59054,
        59190,
        59379,
        59603,
        59845,
        60092,
        60332,
        60570,
        60802,
        61018,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        58711,
        58745,
        58754,
        58751,
        58747,
        58752,
        58775,
        58826,
        58913,
        59052,
        59241,
        59460,
        59695,
        59932,
        60158,
        60384,
        60606,
        60814,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        58225,
        58357,
        58449,
        58511,
        58552,
        58585,
        58620,
        58665,
        58731,
        58826,
        58964,
        59143,
        59345,
        59558,
        59769,
        59967,
        60166,
        60365,
        60555,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        57768,
        57973,
        58140,
        58268,
        58368,
        58450,
        58524,
        58600,
        58685,
        58790,
        58924,
        59085,
        59260,
        59438,
        59609,
        59764,
        59922,
        60088,
        60250,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        57260,
        57560,
        57815,
        58025,
        58195,
        58338,
        58461,
        58575,
        58687,
        58803,
        58931,
        59069,
        59207,
        59339,
        59457,
        59556,
        59662,
        59783,
        59911,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        56696,
        57113,
        57475,
        57779,
        58031,
        58244,
        58427,
        58587,
        58729,
        58861,
        58983,
        59093,
        59188,
        59264,
        59319,
        59351,
        59393,
        59460,
        59546,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        56058,
        56627,
        57114,
        57524,
        57866,
        58156,
        58402,
        58610,
        58786,
        58934,
        59051,
        59133,
        59183,
        59202,
        59190,
        59150,
        59124,
        59131,
        59172,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        55314,
        56094,
        56730,
        57255,
        57690,
        58056,
        58362,
        58617,
        58825,
        58988,
        59100,
        59159,
        59169,
        59135,
        59062,
        58953,
        58860,
        58809,
        58804,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        54373,
        55502,
        56321,
        56970,
        57498,
        57936,
        58299,
        58596,
        58833,
        59011,
        59120,
        59159,
        59136,
        59058,
        58932,
        58764,
        58611,
        58507,
        58461,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        15628,
        54827,
        55887,
        56668,
        57286,
        57789,
        58202,
        58536,
        58797,
        58989,
        59098,
        59123,
        59077,
        58968,
        58802,
        58588,
        58387,
        58241,
        58162,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        14611,
        53988,
        55423,
        56345,
        57045,
        57605,
        58058,
        58422,
        58704,
        58908,
        59021,
        59041,
        58984,
        58858,
        58671,
        58429,
        58201,
        58031,
        57935,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        13782,
        15595,
        54918,
        55992,
        56764,
        57369,
        57853,
        58238,
        58537,
        58753,
        58873,
        58898,
        58844,
        58720,
        58532,
        58287,
        58056,
        57887,
        57794,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        13104,
        14869,
        54315,
        55588,
        56428,
        57068,
        57573,
        57975,
        58286,
        58513,
        58645,
        58683,
        58644,
        58535,
        58362,
        58131,
        57917,
        57767,
        57695,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        12582,
        14269,
        53511,
        55137,
        56046,
        56713,
        57232,
        57643,
        57964,
        58204,
        58352,
        58410,
        58395,
        58313,
        58168,
        57967,
        57785,
        57669,
        57630,
    ],
    tile_revision: 1,
)