(
    version: 1,
    field_id: "water",
    x: 0,
    z: 23,
    samples_per_edge: 33,
    sample_spacing_meters: 8.0,
    source_version: "tf2_0a9cb5fb5409e8fb",
    samples: [
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        7,
        61,
        145,
        251,
        376,
        359,
        186,
        67,
        6,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        13,
        80,
        174,
        283,
        402,
        390,
        193,
        66,
        7,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        19,
        96,
        200,
        314,
        433,
        426,
        210,
        77,
        12,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        21,
        104,
        217,
        339,
        470,
        465,
        241,
        100,
        24,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        22,
        106,
        226,
        362,
        504,
        503,
        277,
        128,
        41,
        2,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        25,
        111,
        241,
        392,
        555,
        523,
        306,
        152,
        56,
        9,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        34,
        125,
        267,
        438,
        626,
        534,
        326,
        171,
        70,
        14,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        3,
        54,
        157,
        315,
        506,
        723,
        533,
        335,
        182,
        75,
        15,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        23,
        94,
        216,
        393,
        608,
        755,
        520,
        330,
        178,
        68,
        8,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        14,
        67,
        164,
        312,
        508,
        749,
        728,
        500,
        310,
        158,
        52,
        1,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        8,
        55,
        138,
        265,
        441,
        663,
        927,
        699,
        471,
        282,
        132,
        32,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        2,
        46,
        124,
        239,
        399,
        605,
        855,
        927,
        664,
        434,
        245,
        99,
        15,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        29,
        107,
        218,
        370,
        569,
        808,
        1086,
        888,
        623,
        390,
        201,
        70,
        3,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        14,
        79,
        191,
        339,
        530,
        767,
        1041,
        1133,
        839,
        568,
        335,
        161,
        44,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        3,
        54,
        149,
        297,
        487,
        719,
        991,
        1292,
        1066,
        771,
        500,
        282,
        122,
        22,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        34,
        120,
        246,
        427,
        661,
        933,
        1241,
        1316,
        991,
        690,
        431,
        228,
        83,
        4,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        20,
        93,
        217,
        376,
        590,
        866,
        1177,
        1515,
        1237,
        911,
        615,
        366,
        175,
        46,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        8,
        67,
        179,
        342,
        536,
        782,
        1094,
        1442,
        1490,
        1151,
        833,
        543,
        304,
        126,
        16,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1,
        42,
        136,
        288,
        488,
        716,
        994,
        1332,
        1716,
        1388,
        1061,
        755,
        475,
        247,
        83,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1,
        25,
        95,
        225,
        414,
        646,
        908,
        1214,
        1578,
        1602,
        1276,
        968,
        674,
        408,
        194,
        47,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        12,
        24,
        70,
        167,
        330,
        548,
        805,
        1092,
        1424,
        1764,
        1468,
        1156,
        866,
        590,
        342,
        147,
        21,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        56,
        76,
        139,
        259,
        448,
        689,
        962,
        1269,
        1621,
        1611,
        1318,
        1021,
        749,
        495,
        274,
        106,
        5,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        128,
        154,
        232,
        370,
        578,
        836,
        1124,
        1442,
        1737,
        1452,
        1159,
        877,
        623,
        396,
        207,
        68,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        221,
        252,
        343,
        495,
        719,
        988,
        1284,
        1609,
        1588,
        1295,
        1003,
        734,
        497,
        300,
        146,
        37,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        330,
        364,
        464,
        626,
        863,
        1139,
        1434,
        1736,
        1448,
        1148,
        859,
        601,
        383,
        215,
        92,
        14,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        446,
        480,
        585,
        755,
        998,
        1269,
        1568,
        1616,
        1322,
        1018,
        733,
        486,
        288,
        146,
        50,
        1,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        548,
        586,
        694,
        867,
        1114,
        1375,
        1676,
        1514,
        1214,
        911,
        633,
        396,
        216,
        95,
        21,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        645,
        684,
        789,
        956,
        1183,
        1436,
        1675,
        1409,
        1113,
        822,
        558,
        338,
        174,
        65,
        6,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        750,
        782,
        875,
        1013,
        1211,
        1444,
        1560,
        1296,
        1019,
        752,
        509,
        307,
        153,
        50,
        1,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        849,
        872,
        938,
        1045,
        1207,
        1417,
        1455,
        1199,
        945,
        705,
        486,
        299,
        152,
        48,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        929,
        941,
        979,
        1059,
        1187,
        1371,
        1381,
        1133,
        901,
        684,
        487,
        313,
        167,
        56,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1008,
        1009,
        1033,
        1090,
        1193,
        1356,
        1328,
        1090,
        876,
        681,
        501,
        337,
        191,
        73,
        4,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1081,
        1082,
        1101,
        1148,
        1243,
        1395,
        1309,
        1079,
        878,
        694,
        524,
        366,
        218,
        95,
        13,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
    ],
    tile_revision: 1,
)