(
    version: 1,
    field_id: "water",
    x: 0,
    z: 5,
    samples_per_edge: 33,
    sample_spacing_meters: 8.0,
    source_version: "tf2_0a9cb5fb5409e8fb",
    samples: [
        115,
        114,
        112,
        109,
        108,
        109,
        114,
        118,
        117,
        118,
        122,
        137,
        167,
        225,
        313,
        426,
        550,
        670,
        762,
        818,
        844,
        852,
        850,
        843,
        842,
        863,
        906,
        963,
        1049,
        1150,
        1250,
        1334,
        1407,
        166,
        164,
        158,
        151,
        146,
        144,
        150,
        156,
        158,
        161,
        170,
        189,
        223,
        289,
        393,
        526,
        671,
        809,
        910,
        958,
        963,
        940,
        908,
        881,
        871,
        895,
        946,
        1012,
        1105,
        1210,
        1304,
        1371,
        1421,
        236,
        232,
        224,
        215,
        208,
        206,
        213,
        222,
        227,
        233,
        244,
        267,
        307,
        382,
        499,
        646,
        807,
        957,
        1065,
        1109,
        1103,
        1066,
        1020,
        982,
        968,
        994,
        1047,
        1115,
        1206,
        1306,
        1391,
        1444,
        1476,
        314,
        312,
        307,
        302,
        300,
        302,
        313,
        325,
        334,
        344,
        360,
        388,
        435,
        517,
        640,
        792,
        954,
        1104,
        1212,
        1258,
        1254,
        1217,
        1171,
        1134,
        1120,
        1146,
        1194,
        1252,
        1333,
        1419,
        1489,
        1530,
        1512,
        398,
        399,
        403,
        410,
        420,
        434,
        453,
        470,
        485,
        503,
        527,
        564,
        619,
        707,
        828,
        972,
        1122,
        1260,
        1365,
        1415,
        1417,
        1388,
        1348,
        1315,
        1305,
        1326,
        1363,
        1407,
        1468,
        1479,
        1429,
        1332,
        1205,
        491,
        497,
        514,
        539,
        569,
        600,
        628,
        652,
        677,
        705,
        741,
        789,
        855,
        945,
        1057,
        1183,
        1312,
        1432,
        1530,
        1586,
        1598,
        1580,
        1552,
        1373,
        1244,
        1179,
        1160,
        1171,
        1172,
        1147,
        1090,
        1002,
        895,
        599,
        611,
        644,
        690,
        742,
        793,
        832,
        864,
        899,
        939,
        989,
        1050,
        1127,
        1218,
        1318,
        1422,
        1527,
        1628,
        1719,
        1782,
        1716,
        1475,
        1265,
        1098,
        983,
        917,
        888,
        881,
        865,
        829,
        771,
        694,
        609,
        730,
        747,
        794,
        860,
        933,
        1003,
        1053,
        1092,
        1137,
        1189,
        1251,
        1326,
        1413,
        1507,
        1596,
        1682,
        1768,
        1855,
        1838,
        1604,
        1372,
        1158,
        974,
        827,
        725,
        663,
        629,
        612,
        587,
        549,
        496,
        432,
        367,
        892,
        913,
        969,
        1047,
        1135,
        1216,
        1274,
        1318,
        1372,
        1432,
        1504,
        1589,
        1685,
        1785,
        1874,
        1957,
        1988,
        1718,
        1482,
        1265,
        1054,
        863,
        701,
        573,
        485,
        431,
        398,
        381,
        357,
        324,
        280,
        231,
        183,
        1087,
        1109,
        1168,
        1252,
        1347,
        1436,
        1500,
        1551,
        1610,
        1677,
        1754,
        1845,
        1951,
        2059,
        2159,
        1910,
        1628,
        1375,
        1156,
        957,
        768,
        600,
        461,
        353,
        280,
        237,
        212,
        201,
        185,
        162,
        132,
        98,
        65,
        1302,
        1326,
        1388,
        1476,
        1577,
        1675,
        1749,
        1809,
        1875,
        1948,
        2031,
        2128,
        2242,
        2137,
        1841,
        1556,
        1292,
        1059,
        856,
        677,
        512,
        373,
        261,
        178,
        123,
        93,
        79,
        74,
        68,
        57,
        40,
        21,
        6,
        1535,
        1560,
        1624,
        1717,
        1825,
        1933,
        2020,
        2093,
        2168,
        2249,
        2337,
        2358,
        2059,
        1774,
        1497,
        1233,
        991,
        777,
        593,
        434,
        298,
        189,
        108,
        53,
        22,
        8,
        4,
        5,
        4,
        2,
        0,
        0,
        0,
        1781,
        1806,
        1874,
        1972,
        2090,
        2211,
        2314,
        2403,
        2491,
        2581,
        2313,
        2004,
        1719,
        1451,
        1193,
        950,
        729,
        536,
        372,
        238,
        132,
        57,
        13,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        2032,
        2059,
        2132,
        2239,
        2371,
        2508,
        2632,
        2741,
        2594,
        2293,
        1990,
        1698,
        1428,
        1176,
        936,
        712,
        512,
        340,
        200,
        95,
        26,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        2282,
        2313,
        2395,
        2515,
        2666,
        2823,
        2774,
        2544,
        2281,
        2001,
        1718,
        1444,
        1190,
        953,
        728,
        521,
        340,
        190,
        79,
        11,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        2547,
        2580,
        2670,
        2776,
        2713,
        2604,
        2447,
        2243,
        2009,
        1760,
        1504,
        1254,
        1016,
        788,
        571,
        375,
        209,
        84,
        9,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        2510,
        2506,
        2488,
        2449,
        2387,
        2285,
        2144,
        1968,
        1771,
        1559,
        1338,
        1114,
        892,
        670,
        455,
        264,
        113,
        17,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        2240,
        2233,
        2209,
        2163,
        2097,
        1998,
        1868,
        1720,
        1559,
        1387,
        1202,
        1004,
        798,
        579,
        364,
        179,
        46,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        2008,
        1999,
        1967,
        1914,
        1842,
        1744,
        1625,
        1499,
        1370,
        1232,
        1079,
        906,
        713,
        500,
        287,
        111,
        7,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1805,
        1793,
        1757,
        1698,
        1623,
        1526,
        1414,
        1303,
        1198,
        1086,
        957,
        804,
        624,
        418,
        214,
        57,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1623,
        1610,
        1572,
        1513,
        1437,
        1343,
        1236,
        1134,
        1040,
        941,
        825,
        685,
        517,
        326,
        142,
        16,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1457,
        1444,
        1407,
        1347,
        1272,
        1179,
        1077,
        977,
        886,
        790,
        679,
        548,
        394,
        226,
        76,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1316,
        1302,
        1262,
        1201,
        1124,
        1030,
        929,
        831,
        739,
        644,
        536,
        414,
        276,
        136,
        27,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1205,
        1190,
        1148,
        1082,
        1001,
        905,
        803,
        706,
        612,
        516,
        412,
        298,
        178,
        68,
        2,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1131,
        1115,
        1069,
        998,
        913,
        813,
        710,
        611,
        515,
        418,
        316,
        211,
        107,
        26,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1098,
        1081,
        1030,
        954,
        863,
        759,
        652,
        551,
        453,
        355,
        255,
        156,
        65,
        6,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1071,
        1052,
        999,
        919,
        824,
        717,
        608,
        503,
        405,
        307,
        212,
        119,
        40,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1019,
        1001,
        949,
        871,
        779,
        673,
        565,
        460,
        360,
        265,
        173,
        88,
        21,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        933,
        917,
        874,
        807,
        724,
        626,
        521,
        416,
        316,
        222,
        133,
        58,
        6,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        823,
        812,
        780,
        727,
        658,
        572,
        473,
        370,
        270,
        177,
        95,
        30,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        702,
        695,
        673,
        635,
        582,
        507,
        417,
        318,
        223,
        134,
        60,
        10,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        577,
        574,
        561,
        535,
        494,
        432,
        352,
        261,
        172,
        93,
        31,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        459,
        457,
        449,
        430,
        397,
        346,
        276,
        197,
        121,
        55,
        9,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
    ],
    tile_revision: 1,
)