(
    version: 1,
    field_id: "water",
    x: 11,
    z: 11,
    samples_per_edge: 33,
    sample_spacing_meters: 8.0,
    source_version: "tf2_1760c34c2b6afa58",
    samples: [
        59592,
        60065,
        60525,
        60958,
        61359,
        61670,
        61339,
        60982,
        60602,
        60206,
        59808,
        59403,
        58992,
        58570,
        58137,
        57684,
        57207,
        56697,
        56120,
        55454,
        54668,
        53624,
        15314,
        14769,
        14593,
        14798,
        15328,
        53723,
        54869,
        55792,
        56615,
        57374,
        58091,
        59933,
        60378,
        60811,
        61219,
        61592,
        61625,
        61304,
        60959,
        60590,
        60206,
        59816,
        59422,
        59019,
        58608,
        58186,
        57751,
        57297,
        56816,
        56261,
        55604,
        54804,
        53707,
        15238,
        14544,
        14213,
        14243,
        14612,
        15343,
        54036,
        55207,
        56131,
        56954,
        57712,
        60294,
        60708,
        61111,
        61490,
        61823,
        61565,
        61255,
        60920,
        60563,
        60189,
        59807,
        59414,
        59016,
        58607,
        58184,
        57762,
        57324,
        56867,
        56334,
        55687,
        54885,
        53754,
        15165,
        14356,
        13888,
        13773,
        13994,
        14589,
        15602,
        54532,
        55620,
        56519,
        57323,
        60655,
        61040,
        61412,
        61761,
        61733,
        61483,
        61183,
        60859,
        60513,
        60150,
        59772,
        59380,
        58978,
        58566,
        58150,
        57724,
        57300,
        56870,
        56354,
        55719,
        54924,
        53786,
        15125,
        14229,
        13659,
        13407,
        13528,
        13996,
        14909,
        53733,
        55109,
        56096,
        56947,
        61005,
        61360,
        61700,
        61792,
        61614,
        61374,
        61081,
        60767,
        60433,
        60079,
        59705,
        59315,
        58909,
        58492,
        58070,
        57648,
        57232,
        56822,
        56329,
        55716,
        54941,
        53827,
        15147,
        14204,
        13579,
        13257,
        13253,
        13648,
        14446,
        15649,
        54642,
        55727,
        56615,
        61329,
        61656,
        61743,
        61626,
        61457,
        61225,
        60940,
        60636,
        60315,
        59973,
        59604,
        59212,
        58802,
        58380,
        57955,
        57531,
        57124,
        56734,
        56269,
        55685,
        54947,
        53906,
        15249,
        14307,
        13665,
        13292,
        13244,
        13540,
        14238,
        15376,
        54336,
        55467,
        56364,
        61621,
        61596,
        61533,
        61425,
        61264,
        61039,
        60764,
        60469,
        60157,
        59825,
        59459,
        59067,
        58653,
        58225,
        57792,
        57368,
        56969,
        56597,
        56157,
        55609,
        54925,
        53982,
        15402,
        14539,
        13897,
        13523,
        13464,
        13733,
        14373,
        15413,
        54260,
        55353,
        56217,
        61381,
        61361,
        61302,
        61198,
        61043,
        60827,
        60558,
        60273,
        59972,
        59643,
        59278,
        58882,
        58461,
        58025,
        57584,
        57152,
        56754,
        56395,
        55980,
        55467,
        54849,
        54014,
        15557,
        14795,
        14237,
        13910,
        13840,
        14100,
        14704,
        15646,
        54370,
        55355,
        56144,
        61124,
        61105,
        61044,
        60946,
        60795,
        60586,
        60329,
        60049,
        59754,
        59430,
        59064,
        58665,
        58239,
        57794,
        57346,
        56908,
        56509,
        56160,
        55771,
        55305,
        54741,
        54036,
        52510,
        15099,
        14645,
        14393,
        14378,
        14625,
        15186,
        53476,
        54657,
        55484,
        56182,
        60840,
        60818,
        60760,
        60660,
        60514,
        60315,
        60070,
        59799,
        59509,
        59184,
        58818,
        58415,
        57983,
        57530,
        57071,
        56625,
        56219,
        55876,
        55516,
        55094,
        54619,
        54049,
        53221,
        15447,
        15130,
        14976,
        15019,
        15299,
        53046,
        54193,
        54975,
        55649,
        56266,
        60529,
        60501,
        60441,
        60341,
        60204,
        60017,
        59785,
        59523,
        59235,
        58910,
        58540,
        58130,
        57688,
        57224,
        56753,
        56290,
        0,
        0,
        0,
        0,
        0,
        0,
        53588,
        53023,
        15657,
        15629,
        52642,
        53444,
        54092,
        54700,
        55275,
        55827,
        56359,
        60200,
        60163,
        60098,
        60003,
        59864,
        59698,
        59481,
        59225,
        58940,
        58615,
        58239,
        57816,
        57365,
        56883,
        56392,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        53747,
        53702,
        53849,
        54063,
        54355,
        54710,
        55111,
        0,
        0,
        0,
        59854,
        59811,
        59738,
        59649,
        59522,
        59362,
        59168,
        58925,
        58640,
        58303,
        57925,
        57494,
        57024,
        56522,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        59505,
        59453,
        59378,
        59293,
        59177,
        59036,
        58854,
        58622,
        58339,
        58003,
        57610,
        57163,
        56674,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        59161,
        59104,
        59032,
        58945,
        58841,
        58715,
        58553,
        58331,
        58051,
        57711,
        57312,
        56857,
        56350,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        58834,
        58773,
        58700,
        58624,
        58531,
        58422,
        58278,
        58068,
        57794,
        57453,
        57049,
        56587,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        58541,
        58482,
        58418,
        58348,
        58267,
        58174,
        58047,
        57850,
        57584,
        57248,
        56847,
        56382,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        58274,
        58225,
        58172,
        58109,
        58039,
        57959,
        57844,
        57658,
        57403,
        57077,
        56688,
        56236,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        57967,
        57937,
        57888,
        57827,
        57758,
        57680,
        57568,
        57387,
        57137,
        56823,
        56449,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        57665,
        57618,
        57555,
        57487,
        57410,
        57324,
        57206,
        57023,
        56775,
        56468,
        56109,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        57336,
        57277,
        57196,
        57109,
        57003,
        56905,
        56774,
        56579,
        56325,
        56019,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        57011,
        56930,
        56820,
        56698,
        56569,
        56436,
        56281,
        56066,
        55792,
        55477,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        56696,
        56603,
        56460,
        56292,
        56113,
        55940,
        55747,
        55493,
        55182,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        56369,
        56320,
        56133,
        55913,
        55671,
        55446,
        55204,
        54896,
        54518,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        56180,
        56109,
        55883,
        55619,
        55336,
        55040,
        54758,
        54376,
        53902,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        56180,
        55995,
        55742,
        55452,
        55139,
        54832,
        54513,
        54082,
        53560,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        56212,
        56000,
        55742,
        55450,
        55144,
        54849,
        54555,
        54197,
        53742,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        56320,
        56142,
        55897,
        55633,
        55363,
        55118,
        54887,
        54615,
        54297,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        56606,
        56423,
        56210,
        55986,
        55773,
        55589,
        55423,
        55229,
        55005,
        54761,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        56973,
        56817,
        56642,
        56466,
        56305,
        56174,
        56060,
        55922,
        55758,
        55567,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        57413,
        57262,
        57132,
        56995,
        56877,
        56785,
        56708,
        56610,
        56486,
        56339,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        57873,
        57761,
        57641,
        57541,
        57451,
        57389,
        57339,
        57268,
        57172,
        57053,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        58352,
        58255,
        58160,
        58078,
        58009,
        57965,
        57933,
        57881,
        57806,
        57712,
        57601,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
    ],
    tile_revision: 1,
)