(
    version: 1,
    field_id: "water",
    x: 11,
    z: 2,
    samples_per_edge: 33,
    sample_spacing_meters: 8.0,
    source_version: "tf2_0a9cb5fb5409e8fb",
    samples: [
        12161,
        13035,
        12136,
        10771,
        9665,
        8633,
        7601,
        6552,
        6079,
        5612,
        5139,
        4542,
        3889,
        3264,
        2670,
        2379,
        2171,
        2018,
        1905,
        1837,
        1797,
        1791,
        1829,
        1907,
        2042,
        2204,
        2344,
        2493,
        2701,
        3048,
        3452,
        3881,
        4327,
        12577,
        13186,
        11800,
        10413,
        9323,
        8238,
        7160,
        6348,
        5879,
        5422,
        4892,
        4290,
        3662,
        3053,
        2545,
        2265,
        2035,
        1855,
        1719,
        1624,
        1566,
        1547,
        1578,
        1651,
        1783,
        1955,
        2086,
        2219,
        2375,
        2556,
        2870,
        3264,
        3656,
        12947,
        12827,
        11407,
        10080,
        8956,
        7833,
        6723,
        6155,
        5689,
        5244,
        4656,
        4046,
        3441,
        2845,
        2430,
        2147,
        1904,
        1708,
        1560,
        1452,
        1383,
        1351,
        1369,
        1427,
        1548,
        1693,
        1804,
        1933,
        2067,
        2222,
        2401,
        2600,
        2922,
        13321,
        12492,
        11036,
        9773,
        8617,
        7461,
        6454,
        5980,
        5521,
        5027,
        4452,
        3846,
        3253,
        2667,
        2328,
        2041,
        1790,
        1581,
        1421,
        1302,
        1222,
        1178,
        1181,
        1222,
        1316,
        1425,
        1512,
        1626,
        1758,
        1878,
        2020,
        2172,
        2335,
        13591,
        12241,
        10781,
        9543,
        8343,
        7138,
        6302,
        5819,
        5363,
        4823,
        4264,
        3680,
        3115,
        2570,
        2257,
        1958,
        1694,
        1468,
        1289,
        1152,
        1060,
        1008,
        998,
        1028,
        1081,
        1148,
        1236,
        1324,
        1432,
        1539,
        1635,
        1744,
        1868,
        13318,
        11990,
        10534,
        9333,
        8099,
        6842,
        6158,
        5668,
        5205,
        4637,
        4090,
        3526,
        2976,
        2510,
        2198,
        1895,
        1619,
        1370,
        1168,
        1015,
        903,
        840,
        827,
        842,
        862,
        907,
        976,
        1038,
        1114,
        1188,
        1270,
        1336,
        1416,
        12998,
        11688,
        10307,
        9107,
        7839,
        6550,
        6016,
        5520,
        5002,
        4454,
        3934,
        3386,
        2846,
        2453,
        2144,
        1840,
        1543,
        1280,
        1064,
        893,
        763,
        687,
        667,
        672,
        676,
        704,
        744,
        779,
        820,
        860,
        915,
        957,
        1002,
        12574,
        11288,
        10018,
        8824,
        7538,
        6414,
        5870,
        5369,
        4795,
        4264,
        3761,
        3231,
        2716,
        2391,
        2094,
        1788,
        1480,
        1202,
        978,
        791,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        11994,
        10718,
        9604,
        8417,
        7159,
        6253,
        5711,
        5202,
        4585,
        4067,
        3552,
        3042,
        2580,
        2299,
        2024,
        1729,
        1428,
        1147,
        913,
        718,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        11283,
        10136,
        9088,
        7932,
        6709,
        6077,
        5549,
        4984,
        4371,
        3854,
        3339,
        2841,
        2478,
        2203,
        1933,
        1649,
        1359,
        1087,
        856,
        663,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        10505,
        9562,
        8527,
        7415,
        6416,
        5898,
        5391,
        4781,
        4186,
        3656,
        3137,
        2640,
        2369,
        2107,
        1843,
        1568,
        1279,
        1017,
        795,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        9894,
        8971,
        7964,
        6892,
        6216,
        5723,
        5245,
        4604,
        4020,
        3488,
        2961,
        2531,
        2261,
        2009,
        1752,
        1484,
        1204,
        952,
        743,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        9318,
        8410,
        7436,
        6492,
        6031,
        5565,
        5054,
        4443,
        3878,
        3350,
        2833,
        2454,
        2180,
        1919,
        1671,
        1405,
        1136,
        897,
        706,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        8797,
        7906,
        6968,
        6310,
        5871,
        5431,
        4894,
        4308,
        3761,
        3241,
        2735,
        2394,
        2117,
        1851,
        1608,
        1349,
        1085,
        858,
        674,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        8349,
        7486,
        6587,
        6166,
        5750,
        5325,
        4768,
        4199,
        3672,
        3163,
        2662,
        2353,
        2070,
        1802,
        1561,
        1315,
        1063,
        838,
        660,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        7981,
        7150,
        6440,
        6054,
        5654,
        5255,
        4690,
        4145,
        3631,
        3131,
        2641,
        2344,
        2059,
        1786,
        1533,
        1296,
        1060,
        839,
        669,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        7707,
        6896,
        6337,
        5972,
        5595,
        5212,
        4677,
        4162,
        3658,
        3165,
        2681,
        2364,
        2074,
        1799,
        1541,
        1302,
        1077,
        875,
        712,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        7550,
        6747,
        6285,
        5932,
        5581,
        5232,
        4731,
        4241,
        3752,
        3263,
        2784,
        2426,
        2129,
        1846,
        1587,
        1347,
        1129,
        943,
        787,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        7505,
        6705,
        6272,
        5930,
        5600,
        5276,
        4825,
        4358,
        3883,
        3405,
        2916,
        2512,
        2208,
        1916,
        1657,
        1419,
        1202,
        1029,
        875,
        730,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        7587,
        6751,
        6294,
        5960,
        5644,
        5340,
        4930,
        4483,
        4019,
        3542,
        3063,
        2602,
        2292,
        1983,
        1714,
        1487,
        1283,
        1122,
        970,
        830,
        706,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        7760,
        6879,
        6340,
        6009,
        5698,
        5399,
        5027,
        4593,
        4130,
        3652,
        3182,
        2715,
        2372,
        2066,
        1787,
        1554,
        1355,
        1194,
        1061,
        934,
        814,
        680,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        7923,
        7080,
        6405,
        6066,
        5750,
        5451,
        5107,
        4669,
        4216,
        3741,
        3272,
        2805,
        2431,
        2124,
        1848,
        1610,
        1413,
        1249,
        1127,
        1013,
        897,
        769,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        7084,
        7295,
        6482,
        6132,
        5810,
        5507,
        5185,
        4739,
        4290,
        3821,
        3345,
        2876,
        2471,
        2162,
        1869,
        1642,
        1450,
        1296,
        1188,
        1079,
        961,
        837,
        742,
        656,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        704,
        770,
        6345,
        6505,
        6596,
        6200,
        5872,
        5563,
        5258,
        4808,
        4360,
        3890,
        3404,
        2932,
        2497,
        2190,
        1907,
        1672,
        1485,
        1346,
        1245,
        1139,
        1020,
        891,
        804,
        741,
        671,
        0,
        0,
        0,
        671,
        701,
        758,
        836,
        920,
        5847,
        6031,
        6210,
        6283,
        5936,
        5618,
        5308,
        4883,
        4428,
        3958,
        3470,
        2982,
        2510,
        2196,
        1921,
        1694,
        1514,
        1378,
        1296,
        1204,
        1091,
        974,
        881,
        812,
        736,
        682,
        718,
        759,
        782,
        819,
        876,
        966,
        1078,
        5309,
        5531,
        5752,
        5944,
        6024,
        5683,
        5362,
        4964,
        4505,
        4029,
        3537,
        3038,
        2546,
        2230,
        1952,
        1728,
        1550,
        1422,
        1351,
        1279,
        1185,
        1067,
        957,
        873,
        796,
        756,
        783,
        861,
        901,
        938,
        1015,
        1129,
        1258,
        4647,
        4939,
        5276,
        5510,
        5689,
        5766,
        5426,
        5043,
        4585,
        4111,
        3629,
        3130,
        2602,
        2284,
        2004,
        1786,
        1608,
        1493,
        1419,
        1349,
        1254,
        1136,
        1026,
        949,
        884,
        866,
        904,
        978,
        1029,
        1071,
        1178,
        1302,
        1439,
        4007,
        4270,
        4651,
        5003,
        5261,
        5419,
        5502,
        5147,
        4681,
        4203,
        3725,
        3240,
        2738,
        2365,
        2084,
        1866,
        1679,
        1550,
        1460,
        1372,
        1259,
        1170,
        1079,
        1021,
        990,
        1001,
        1050,
        1119,
        1180,
        1255,
        1365,
        1482,
        1643,
        3388,
        3684,
        4066,
        4401,
        4673,
        4890,
        5091,
        5252,
        4780,
        4302,
        3831,
        3362,
        2899,
        2470,
        2175,
        1940,
        1742,
        1597,
        1479,
        1359,
        1249,
        1160,
        1093,
        1066,
        1082,
        1126,
        1195,
        1275,
        1357,
        1460,
        1571,
        1692,
        1883,
        2766,
        3094,
        3455,
        3798,
        4089,
        4311,
        4509,
        4704,
        4882,
        4397,
        3929,
        3473,
        3026,
        2552,
        2269,
        2026,
        1823,
        1638,
        1474,
        1318,
        1204,
        1130,
        1090,
        1110,
        1135,
        1229,
        1337,
        1434,
        1532,
        1653,
        1769,
        1933,
        2120,
        2351,
        2551,
        2846,
        3182,
        3488,
        3758,
        3947,
        4119,
        4288,
        4421,
        4025,
        3580,
        3131,
        2610,
        2332,
        2070,
        1877,
        1673,
        1475,
        1286,
        1150,
        1100,
        1087,
        1139,
        1190,
        1303,
        1453,
        1570,
        1701,
        1838,
        1959,
        2152,
        2261,
        1990,
        2208,
        2413,
        2611,
        2916,
        3213,
        3404,
        3557,
        3716,
        3843,
        3947,
        3667,
        3215,
        2722,
        2398,
        2126,
        1919,
        1709,
        1495,
        1309,
        1144,
        1059,
        1075,
        1162,
        1259,
        1398,
        1552,
        1680,
        1823,
        1913,
        1893,
        1880,
        1881,
        1642,
        1862,
        2071,
        2284,
        2471,
        2649,
        2892,
        3030,
        3175,
        3295,
        3383,
        3496,
        3302,
        2838,
        2454,
        2179,
        1961,
        1744,
        1523,
        1316,
        1126,
        996,
        1043,
        1160,
        1300,
        1439,
        1610,
        1608,
        1580,
        1564,
        1534,
        1491,
        1490,
    ],
    tile_revision: 1,
)