(
    version: 1,
    field_id: "water",
    x: 18,
    z: 31,
    samples_per_edge: 33,
    sample_spacing_meters: 8.0,
    source_version: "tf2_0a9cb5fb5409e8fb",
    samples: [
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        693,
        763,
        781,
        761,
        694,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        697,
        722,
        702,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        657,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        677,
        699,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        694,
        712,
        668,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        663,
        783,
        846,
        849,
        789,
        718,
        662,
        0,
        0,
        0,
        0,
        663,
        700,
        723,
        745,
        694,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        661,
        795,
        911,
        974,
        976,
        915,
        853,
        802,
        767,
        739,
        732,
        735,
        753,
        756,
        742,
        731,
        693,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        689,
        793,
        916,
        1025,
        1081,
        1083,
        1029,
        986,
        948,
        913,
        888,
        865,
        849,
        834,
        801,
        756,
        716,
        676,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        713,
        818,
        936,
        1045,
        1131,
        1179,
        1174,
        1148,
        1115,
        1089,
        1061,
        1037,
        1002,
        957,
        907,
        840,
        770,
        709,
        667,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        753,
        823,
        926,
        1062,
        1178,
        1251,
        1281,
        1275,
        1260,
        1241,
        1228,
        1208,
        1183,
        1141,
        1067,
        992,
        900,
        808,
        737,
        693,
        658,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        874,
        946,
        1037,
        1164,
        1294,
        1372,
        1405,
        1411,
        1394,
        1374,
        1363,
        1343,
        1316,
        1263,
        1186,
        1087,
        986,
        894,
        822,
        770,
        731,
        696,
        676,
        663,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1008,
        1078,
        1159,
        1253,
        1377,
        1473,
        1532,
        1545,
        1542,
        1525,
        1503,
        1480,
        1446,
        1389,
        1302,
        1208,
        1109,
        1025,
        971,
        913,
        861,
        832,
        810,
        795,
        774,
        752,
        744,
        718,
        695,
        692,
        687,
        679,
        0,
        1163,
        1229,
        1299,
        1375,
        1463,
        1565,
        1648,
        1693,
        1703,
        1700,
        1683,
        1666,
        1615,
        1552,
        1462,
        1369,
        1288,
        1211,
        1164,
        1113,
        1052,
        1027,
        1001,
        979,
        954,
        920,
        896,
        857,
        817,
        794,
        782,
        774,
        744,
        1381,
        1441,
        1499,
        1560,
        1627,
        1705,
        1804,
        1881,
        1924,
        1936,
        1937,
        1928,
        1873,
        1794,
        1702,
        1617,
        1548,
        1480,
        1428,
        1381,
        1325,
        1289,
        1262,
        1232,
        1196,
        1155,
        1110,
        1048,
        987,
        936,
        913,
        905,
        899,
        1658,
        1714,
        1761,
        1809,
        1860,
        1918,
        1997,
        2103,
        2191,
        2236,
        2249,
        2251,
        2199,
        2107,
        2016,
        1944,
        1877,
        1819,
        1764,
        1715,
        1657,
        1611,
        1581,
        1539,
        1495,
        1441,
        1374,
        1294,
        1208,
        1133,
        1094,
        1095,
        1115,
        1994,
        2047,
        2085,
        2121,
        2160,
        2208,
        2271,
        2376,
        2496,
        2575,
        2607,
        2621,
        2592,
        2503,
        2404,
        2326,
        2261,
        2208,
        2152,
        2096,
        2036,
        1982,
        1943,
        1893,
        1840,
        1772,
        1685,
        1591,
        1490,
        1394,
        1344,
        1342,
        1387,
        2384,
        2437,
        2472,
        2500,
        2530,
        2569,
        2638,
        2792,
        3022,
        3195,
        3309,
        3358,
        3356,
        3202,
        3001,
        2848,
        2729,
        2636,
        2575,
        2507,
        2441,
        2378,
        2337,
        2287,
        2223,
        2141,
        2039,
        1928,
        1823,
        1724,
        1667,
        1666,
        1716,
        2995,
        3104,
        3182,
        3218,
        3257,
        3322,
        3414,
        3575,
        3768,
        3974,
        4077,
        4158,
        4150,
        3997,
        3796,
        3634,
        3515,
        3421,
        3328,
        3178,
        3043,
        2926,
        2843,
        2751,
        2629,
        2540,
        2432,
        2325,
        2219,
        2133,
        2077,
        2076,
        2113,
        3924,
        4063,
        4159,
        4197,
        4232,
        4280,
        4370,
        4499,
        4660,
        4835,
        4916,
        4973,
        4962,
        4809,
        4625,
        4476,
        4377,
        4295,
        4177,
        4001,
        3835,
        3696,
        3585,
        3493,
        3370,
        3214,
        3052,
        2892,
        2740,
        2618,
        2577,
        2567,
        2590,
        5009,
        5183,
        5278,
        5315,
        5340,
        5368,
        5415,
        5489,
        5566,
        5644,
        5676,
        5646,
        5624,
        5540,
        5427,
        5345,
        5289,
        5230,
        5106,
        4897,
        4701,
        4527,
        4386,
        4273,
        4161,
        4015,
        3879,
        3757,
        3659,
        3568,
        3515,
        3487,
        3470,
        5926,
        6066,
        6161,
        6216,
        6258,
        6287,
        6304,
        6345,
        6386,
        6412,
        6397,
        6323,
        6252,
        6185,
        6101,
        6035,
        5985,
        5941,
        5847,
        5693,
        5534,
        5385,
        5261,
        5125,
        5010,
        4896,
        4792,
        4705,
        4659,
        4612,
        4570,
        4522,
        4465,
        7221,
        7585,
        7834,
        8011,
        8144,
        8221,
        8231,
        8219,
        8196,
        8128,
        7973,
        7711,
        7479,
        7360,
        7225,
        7104,
        7004,
        6894,
        6651,
        6444,
        6266,
        6096,
        5950,
        5827,
        5737,
        5671,
        5631,
        5598,
        5585,
        5577,
        5553,
        5506,
        5446,
        9486,
        9849,
        10119,
        10319,
        10482,
        10611,
        10641,
        10458,
        10312,
        10117,
        9892,
        9586,
        9269,
        9168,
        9088,
        8993,
        8948,
        8819,
        8551,
        8199,
        7741,
        7314,
        6944,
        6629,
        6480,
        6422,
        6399,
        6380,
        6370,
        6365,
        6345,
        6291,
        6222,
        12322,
        12771,
        13163,
        13512,
        13821,
        14004,
        13868,
        13580,
        13287,
        12911,
        12496,
        12007,
        11550,
        11366,
        11292,
        11176,
        11094,
        10932,
        10601,
        10202,
        9736,
        9293,
        8928,
        8600,
        8346,
        8198,
        8140,
        8085,
        8024,
        7987,
        7926,
        7796,
        7641,
        13457,
        13356,
        13371,
        13481,
        13545,
        13641,
        13581,
        13336,
        13057,
        12679,
        12224,
        11783,
        11486,
        11477,
        11595,
        11742,
        11926,
        12023,
        11966,
        11754,
        11433,
        11191,
        11045,
        10855,
        10510,
        10319,
        10220,
        10132,
        10016,
        9910,
        9827,
        9703,
        9537,
        12656,
        12635,
        12643,
        12611,
        12611,
        12649,
        12613,
        12459,
        12155,
        11717,
        11140,
        10556,
        10339,
        10304,
        10334,
        10455,
        10630,
        10727,
        10693,
        10534,
        10377,
        10339,
        10352,
        10351,
        10296,
        10243,
        10250,
        10250,
        10220,
        10159,
        10098,
        9996,
        9831,
        11520,
        11535,
        11551,
        11545,
        11479,
        11510,
        11519,
        11382,
        11092,
        10588,
        10084,
        9598,
        9413,
        9348,
        9316,
        9435,
        9544,
        9609,
        9592,
        9532,
        9532,
        9632,
        9772,
        9866,
        9832,
        9774,
        9707,
        9666,
        9597,
        9500,
        9417,
        9321,
        9176,
        10153,
        10256,
        10287,
        10276,
        10266,
        10305,
        10312,
        10186,
        9953,
        9578,
        9119,
        8660,
        8414,
        8327,
        8265,
        8335,
        8460,
        8519,
        8509,
        8540,
        8669,
        8888,
        9130,
        9311,
        9332,
        9247,
        9142,
        9053,
        8956,
        8852,
        8735,
        8632,
        8497,
        8580,
        8692,
        8781,
        8834,
        8898,
        8954,
        8895,
        8746,
        8488,
        8174,
        7817,
        7525,
        7328,
        7240,
        7171,
        7155,
        7222,
        7284,
        7325,
        7474,
        7755,
        8097,
        8409,
        8656,
        8714,
        8612,
        8505,
        8394,
        8251,
        8121,
        7999,
        7883,
        7717,
        7335,
        7435,
        7549,
        7566,
        7630,
        7687,
        7621,
        7443,
        7211,
        6924,
        6613,
        6475,
        6394,
        6366,
        6340,
        6337,
        6371,
        6415,
        6447,
        6534,
        6849,
        7217,
        7551,
        7830,
        7924,
        7825,
        7738,
        7667,
        7559,
        7446,
        7329,
        7197,
        6997,
        6355,
        6390,
        6415,
        6413,
        6417,
        6435,
        6397,
        6322,
        6239,
        6134,
        6044,
        5970,
        5912,
        5893,
        5875,
        5875,
        5911,
        5966,
        6009,
        6114,
        6266,
        6422,
        6593,
        6863,
        6973,
        6933,
        6878,
        6839,
        6809,
        6728,
        6632,
        6519,
        6419,
        5808,
        5808,
        5799,
        5797,
        5780,
        5769,
        5738,
        5678,
        5610,
        5545,
        5498,
        5460,
        5439,
        5436,
        5426,
        5433,
        5474,
        5525,
        5591,
        5702,
        5847,
        6003,
        6138,
        6239,
        6285,
        6302,
        6305,
        6307,
        6324,
        6316,
        6276,
        6207,
        6083,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
    ],
    tile_revision: 1,
)