(
    version: 1,
    field_id: "water",
    x: 19,
    z: 9,
    samples_per_edge: 33,
    sample_spacing_meters: 8.0,
    source_version: "tf2_1760c34c2b6afa58",
    samples: [
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        10842,
        9977,
        9160,
        8316,
        7591,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        9914,
        9077,
        8272,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        55900,
        55199,
        54137,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        58125,
        57921,
        57712,
        57485,
        57187,
        56769,
        56278,
        55612,
        54680,
        15631,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        58405,
        58221,
        58020,
        57804,
        57510,
        57117,
        56610,
        55960,
        55096,
        53530,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        58634,
        58467,
        58276,
        58071,
        57773,
        57382,
        56877,
        56238,
        55401,
        54062,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        58812,
        58657,
        58476,
        58274,
        57974,
        57582,
        57078,
        56433,
        55604,
        54354,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        58941,
        58796,
        58625,
        58418,
        58116,
        57716,
        57200,
        56535,
        55716,
        54491,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        59014,
        58877,
        58705,
        58494,
        58190,
        57781,
        57259,
        56599,
        55755,
        54514,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        59023,
        58885,
        58713,
        58498,
        58186,
        57769,
        57234,
        56567,
        55709,
        54448,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        58971,
        58832,
        58655,
        58432,
        58116,
        57692,
        57153,
        56481,
        55621,
        54341,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        58870,
        58728,
        58543,
        58313,
        57992,
        57568,
        57034,
        56365,
        55509,
        54227,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        58721,
        58577,
        58389,
        58153,
        57830,
        57413,
        56880,
        56222,
        55388,
        54126,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        58541,
        58398,
        58201,
        57960,
        57641,
        57229,
        56713,
        56081,
        55262,
        54077,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        58331,
        58179,
        57981,
        57734,
        57413,
        57009,
        56513,
        55910,
        55123,
        53955,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        58069,
        57924,
        57726,
        57469,
        57142,
        56753,
        56242,
        55660,
        54940,
        53811,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        57834,
        57665,
        57453,
        57182,
        56823,
        56458,
        55977,
        55430,
        54696,
        53521,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        57585,
        57414,
        57176,
        56897,
        56568,
        56181,
        55708,
        55155,
        54414,
        53029,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        57360,
        57185,
        56946,
        56661,
        56318,
        55918,
        55458,
        54886,
        54108,
        15604,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        8638,
        10136,
        11949,
        14031,
        57205,
        57024,
        56780,
        56476,
        56123,
        55723,
        55253,
        54664,
        53814,
        15399,
        14523,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        6604,
        7034,
        7841,
        9015,
        10526,
        12361,
        14471,
        57138,
        56950,
        56706,
        56388,
        56038,
        55628,
        55144,
        54530,
        53617,
        15260,
        14406,
        13563,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        6820,
        6787,
        6869,
        7293,
        8100,
        9283,
        10800,
        12644,
        14769,
        57187,
        57005,
        56754,
        56452,
        56096,
        55689,
        55207,
        54602,
        53722,
        15319,
        14457,
        13603,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        6967,
        6950,
        7031,
        7473,
        8300,
        9482,
        10997,
        12839,
        14955,
        57341,
        57177,
        56945,
        56654,
        56315,
        55922,
        55476,
        54928,
        54204,
        15728,
        14832,
        13956,
        13094,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        7159,
        7088,
        7076,
        7176,
        7639,
        8466,
        9647,
        11162,
        12999,
        15066,
        57596,
        57455,
        57245,
        56967,
        56649,
        56296,
        55886,
        55408,
        54816,
        54011,
        15527,
        14617,
        13718,
        12815,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        7323,
        7233,
        7215,
        7337,
        7794,
        8609,
        9779,
        11290,
        13108,
        15193,
        57892,
        57778,
        57595,
        57334,
        57044,
        56717,
        56352,
        55930,
        55438,
        54832,
        53997,
        15431,
        14537,
        13631,
        12693,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        7518,
        7408,
        7381,
        7498,
        7943,
        8753,
        9911,
        11388,
        13173,
        15237,
        58209,
        58125,
        57961,
        57722,
        57454,
        57152,
        56822,
        56448,
        56018,
        55517,
        54912,
        54096,
        15553,
        14590,
        13641,
        12691,
        0,
        0,
        0,
        0,
        0,
        0,
        7968,
        7718,
        7582,
        7541,
        7650,
        8085,
        8877,
        10005,
        11453,
        13189,
        15244,
        58526,
        58457,
        58315,
        58096,
        57845,
        57571,
        57264,
        56923,
        56539,
        56100,
        55598,
        54989,
        54182,
        15611,
        14606,
        13636,
        12602,
        0,
        0,
        0,
        0,
        0,
        8261,
        7941,
        7753,
        7689,
        7792,
        8216,
        8983,
        10077,
        11482,
        13218,
        15200,
        58828,
        58782,
        58660,
        58454,
        58214,
        57956,
        57671,
        57355,
        56986,
        56606,
        56150,
        55648,
        55038,
        54202,
        15618,
        14570,
        13479,
        0,
        0,
        0,
        0,
        0,
        8498,
        8109,
        7882,
        7797,
        7889,
        8290,
        9040,
        10111,
        11497,
        13183,
        15169,
        59112,
        59079,
        58969,
        58773,
        58547,
        58300,
        58024,
        57707,
        57391,
        57019,
        56611,
        56149,
        55614,
        54982,
        54127,
        15445,
        14272,
        13113,
        0,
        0,
        0,
        0,
        8682,
        8218,
        7942,
        7791,
        7929,
        8313,
        9054,
        10096,
        11453,
        13113,
        15061,
        59351,
        59331,
        59229,
        59037,
        58818,
        58577,
        58311,
        58002,
        57694,
        57333,
        56937,
        56515,
        56026,
        55458,
        54761,
        53652,
        14918,
        13668,
        12444,
        11317,
        0,
        9487,
        8791,
        8238,
        7947,
        7826,
        7907,
        8289,
        9004,
        10030,
        11364,
        12998,
        14924,
    ],
    tile_revision: 1,
)