(
    version: 1,
    field_id: "water",
    x: 1,
    z: 11,
    samples_per_edge: 33,
    sample_spacing_meters: 8.0,
    source_version: "tf2_0a9cb5fb5409e8fb",
    samples: [
        6012,
        5660,
        5263,
        4656,
        4014,
        3348,
        2665,
        2237,
        1831,
        1423,
        1023,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        6357,
        5966,
        5537,
        5014,
        4326,
        3640,
        2948,
        2401,
        1994,
        1577,
        1161,
        745,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        6879,
        6280,
        5827,
        5346,
        4683,
        3967,
        3241,
        2563,
        2142,
        1714,
        1277,
        836,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        7689,
        6687,
        6139,
        5637,
        5066,
        4312,
        3546,
        2789,
        2278,
        1831,
        1377,
        922,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        8513,
        7456,
        6449,
        5927,
        5385,
        4652,
        3857,
        3058,
        2408,
        1945,
        1475,
        1003,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        9314,
        8168,
        6931,
        6167,
        5612,
        4967,
        4150,
        3321,
        2543,
        2058,
        1571,
        1081,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        10119,
        8871,
        7544,
        6396,
        5815,
        5241,
        4410,
        3573,
        2725,
        2181,
        1679,
        1170,
        667,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        11060,
        9595,
        8163,
        6731,
        6018,
        5426,
        4659,
        3803,
        2949,
        2303,
        1789,
        1263,
        742,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        10886,
        10263,
        8795,
        7298,
        6244,
        5629,
        4917,
        4043,
        3172,
        2425,
        1901,
        1367,
        831,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        10182,
        10432,
        9373,
        7844,
        6458,
        5826,
        5175,
        4270,
        3366,
        2527,
        1993,
        1452,
        918,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        9485,
        9811,
        9862,
        8317,
        6779,
        5995,
        5343,
        4451,
        3517,
        2597,
        2053,
        1512,
        986,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        8705,
        9099,
        9537,
        8681,
        7137,
        6125,
        5445,
        4566,
        3605,
        2657,
        2087,
        1551,
        1042,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        7942,
        8350,
        8831,
        8861,
        7325,
        6211,
        5513,
        4624,
        3638,
        2673,
        2097,
        1573,
        1088,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        7265,
        7691,
        8166,
        8734,
        7406,
        6248,
        5551,
        4677,
        3678,
        2700,
        2115,
        1598,
        1129,
        698,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        6700,
        7130,
        7623,
        8165,
        7429,
        6263,
        5573,
        4726,
        3734,
        2772,
        2164,
        1648,
        1187,
        767,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        6439,
        6703,
        7184,
        7749,
        7428,
        6265,
        5582,
        4757,
        3794,
        2834,
        2211,
        1708,
        1249,
        838,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        6330,
        6498,
        6864,
        7393,
        7390,
        6237,
        5569,
        4749,
        3803,
        2882,
        2244,
        1752,
        1309,
        906,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        6259,
        6405,
        6624,
        7131,
        7282,
        6190,
        5524,
        4708,
        3785,
        2881,
        2263,
        1797,
        1376,
        984,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        6235,
        6363,
        6519,
        6968,
        7126,
        6130,
        5471,
        4632,
        3722,
        2849,
        2252,
        1800,
        1404,
        1046,
        705,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        6251,
        6361,
        6503,
        6880,
        6943,
        6057,
        5401,
        4548,
        3655,
        2799,
        2233,
        1792,
        1405,
        1062,
        745,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        6287,
        6381,
        6517,
        6882,
        6755,
        5990,
        5343,
        4482,
        3602,
        2748,
        2210,
        1774,
        1398,
        1061,
        748,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        6312,
        6421,
        6580,
        7014,
        6659,
        5963,
        5309,
        4435,
        3571,
        2731,
        2210,
        1767,
        1382,
        1045,
        733,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        6345,
        6470,
        6718,
        7179,
        6536,
        5922,
        5292,
        4424,
        3589,
        2769,
        2241,
        1803,
        1397,
        1028,
        687,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        6368,
        6522,
        6895,
        7369,
        6458,
        5854,
        5259,
        4421,
        3609,
        2815,
        2285,
        1850,
        1424,
        1023,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        6420,
        6665,
        7105,
        7518,
        6375,
        5791,
        5202,
        4395,
        3623,
        2871,
        2336,
        1891,
        1439,
        1011,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        6498,
        6850,
        7311,
        7218,
        6258,
        5691,
        5095,
        4327,
        3591,
        2875,
        2353,
        1911,
        1448,
        1001,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        6634,
        7087,
        7561,
        6866,
        6114,
        5562,
        4942,
        4200,
        3497,
        2803,
        2319,
        1889,
        1439,
        994,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        6830,
        7311,
        7721,
        6516,
        5946,
        5397,
        4726,
        4021,
        3340,
        2669,
        2252,
        1840,
        1410,
        991,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        6979,
        7485,
        7188,
        6301,
        5744,
        5199,
        4496,
        3819,
        3156,
        2548,
        2162,
        1771,
        1376,
        997,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        7129,
        7624,
        6597,
        6085,
        5561,
        4946,
        4266,
        3609,
        2966,
        2438,
        2057,
        1695,
        1346,
        1015,
        700,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        7331,
        6984,
        6319,
        5859,
        5367,
        4723,
        4070,
        3413,
        2765,
        2327,
        1960,
        1623,
        1317,
        1031,
        755,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        7116,
        6462,
        6070,
        5643,
        5162,
        4507,
        3878,
        3226,
        2598,
        2232,
        1884,
        1568,
        1294,
        1043,
        801,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        6531,
        6217,
        5860,
        5461,
        4928,
        4299,
        3687,
        3080,
        2536,
        2183,
        1846,
        1539,
        1283,
        1054,
        834,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
    ],
    tile_revision: 1,
)