(
    version: 1,
    field_id: "water",
    x: 1,
    z: 22,
    samples_per_edge: 33,
    sample_spacing_meters: 8.0,
    source_version: "tf2_0a9cb5fb5409e8fb",
    samples: [
        1690,
        1666,
        1644,
        1629,
        1624,
        1642,
        1682,
        1718,
        1755,
        1782,
        1783,
        1750,
        1683,
        1606,
        1535,
        1473,
        1355,
        1267,
        1202,
        1151,
        1102,
        1059,
        1025,
        1011,
        1017,
        931,
        809,
        666,
        0,
        0,
        0,
        0,
        0,
        1589,
        1578,
        1571,
        1569,
        1572,
        1596,
        1642,
        1693,
        1739,
        1774,
        1787,
        1766,
        1711,
        1590,
        1418,
        1266,
        1141,
        1046,
        974,
        917,
        870,
        830,
        800,
        790,
        796,
        816,
        849,
        709,
        0,
        0,
        0,
        0,
        0,
        1492,
        1495,
        1500,
        1511,
        1526,
        1557,
        1609,
        1669,
        1726,
        1770,
        1788,
        1775,
        1616,
        1422,
        1240,
        1079,
        948,
        847,
        770,
        709,
        661,
        0,
        0,
        0,
        0,
        0,
        0,
        687,
        0,
        0,
        0,
        0,
        0,
        1400,
        1414,
        1432,
        1453,
        1477,
        1517,
        1577,
        1646,
        1710,
        1761,
        1786,
        1665,
        1464,
        1263,
        1075,
        906,
        768,
        663,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1309,
        1330,
        1357,
        1386,
        1419,
        1467,
        1535,
        1611,
        1683,
        1743,
        1737,
        1533,
        1322,
        1115,
        921,
        746,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1231,
        1256,
        1289,
        1327,
        1367,
        1421,
        1493,
        1571,
        1646,
        1709,
        1619,
        1409,
        1194,
        984,
        789,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1173,
        1206,
        1248,
        1294,
        1341,
        1396,
        1464,
        1537,
        1609,
        1671,
        1510,
        1298,
        1083,
        874,
        677,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1138,
        1179,
        1227,
        1280,
        1332,
        1391,
        1447,
        1511,
        1573,
        1629,
        1422,
        1207,
        993,
        785,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1126,
        1171,
        1223,
        1279,
        1333,
        1384,
        1436,
        1489,
        1541,
        1567,
        1352,
        1137,
        929,
        732,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1129,
        1173,
        1229,
        1287,
        1340,
        1388,
        1433,
        1476,
        1516,
        1527,
        1306,
        1101,
        901,
        714,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1134,
        1180,
        1237,
        1294,
        1349,
        1398,
        1440,
        1478,
        1517,
        1505,
        1287,
        1086,
        891,
        708,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1134,
        1182,
        1238,
        1298,
        1357,
        1408,
        1454,
        1502,
        1552,
        1498,
        1279,
        1080,
        883,
        705,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1131,
        1178,
        1238,
        1305,
        1368,
        1426,
        1484,
        1545,
        1611,
        1492,
        1270,
        1066,
        876,
        696,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1127,
        1179,
        1248,
        1323,
        1393,
        1462,
        1531,
        1609,
        1693,
        1481,
        1258,
        1054,
        864,
        683,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1135,
        1197,
        1276,
        1358,
        1437,
        1516,
        1601,
        1695,
        1705,
        1472,
        1247,
        1042,
        848,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1163,
        1235,
        1323,
        1417,
        1505,
        1594,
        1695,
        1805,
        1699,
        1474,
        1247,
        1026,
        810,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1219,
        1300,
        1399,
        1503,
        1602,
        1704,
        1820,
        1945,
        1704,
        1468,
        1229,
        987,
        759,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1296,
        1389,
        1498,
        1609,
        1717,
        1837,
        1971,
        1971,
        1727,
        1477,
        1215,
        953,
        717,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1391,
        1492,
        1604,
        1721,
        1845,
        1983,
        2141,
        2013,
        1764,
        1500,
        1227,
        948,
        693,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1500,
        1604,
        1721,
        1846,
        1981,
        2145,
        2324,
        2066,
        1807,
        1533,
        1242,
        947,
        677,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1622,
        1729,
        1849,
        1983,
        2134,
        2328,
        2378,
        2117,
        1851,
        1560,
        1249,
        940,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1757,
        1863,
        1987,
        2134,
        2312,
        2528,
        2438,
        2162,
        1874,
        1567,
        1234,
        895,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1904,
        2010,
        2141,
        2313,
        2506,
        2819,
        2484,
        2185,
        1870,
        1535,
        1177,
        821,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        2065,
        2175,
        2322,
        2506,
        2780,
        3026,
        2522,
        2175,
        1829,
        1467,
        1082,
        699,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        2243,
        2362,
        2517,
        2766,
        3142,
        3132,
        2535,
        2157,
        1769,
        1364,
        943,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        2432,
        2551,
        2773,
        3099,
        3465,
        3211,
        2557,
        2142,
        1702,
        1252,
        788,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        2601,
        2804,
        3071,
        3387,
        3778,
        3312,
        2572,
        2103,
        1623,
        1142,
        664,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        2825,
        3043,
        3332,
        3684,
        4094,
        3370,
        2560,
        2049,
        1545,
        1054,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        3005,
        3269,
        3587,
        3952,
        4259,
        3394,
        2555,
        2031,
        1523,
        1027,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        3165,
        3478,
        3822,
        4174,
        4325,
        3463,
        2594,
        2075,
        1564,
        1063,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        3298,
        3652,
        4028,
        4415,
        4460,
        3595,
        2721,
        2160,
        1653,
        1158,
        676,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        3383,
        3771,
        4195,
        4644,
        4605,
        3758,
        2895,
        2275,
        1782,
        1298,
        823,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        3429,
        3859,
        4341,
        4853,
        4773,
        3943,
        3100,
        2415,
        1939,
        1469,
        999,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
    ],
    tile_revision: 1,
)