(
    version: 1,
    field_id: "water",
    x: 23,
    z: 2,
    samples_per_edge: 33,
    sample_spacing_meters: 8.0,
    source_version: "tf2_0a9cb5fb5409e8fb",
    samples: [
        4538,
        4445,
        4463,
        4569,
        4653,
        4675,
        4659,
        4625,
        4542,
        4437,
        4339,
        4278,
        4224,
        4144,
        4005,
        3875,
        3777,
        3705,
        3657,
        3651,
        3679,
        3741,
        3818,
        3916,
        4017,
        4118,
        4216,
        4283,
        4378,
        4500,
        4654,
        4851,
        5060,
        3648,
        3513,
        3467,
        3518,
        3554,
        3558,
        3545,
        3521,
        3472,
        3437,
        3447,
        3500,
        3583,
        3645,
        3664,
        3640,
        3638,
        3664,
        3710,
        3798,
        3917,
        4062,
        4199,
        4347,
        4490,
        4613,
        4746,
        4867,
        5010,
        5164,
        5321,
        5473,
        5622,
        2774,
        2592,
        2534,
        2536,
        2534,
        2537,
        2544,
        2546,
        2544,
        2555,
        2609,
        2752,
        2938,
        3130,
        3286,
        3380,
        3488,
        3614,
        3758,
        3943,
        4156,
        4374,
        4576,
        4782,
        4968,
        5129,
        5277,
        5391,
        5512,
        5635,
        5778,
        5934,
        6079,
        2222,
        2084,
        1992,
        1951,
        1941,
        1946,
        1970,
        1988,
        2022,
        2073,
        2160,
        2290,
        2450,
        2617,
        2882,
        3115,
        3332,
        3568,
        3821,
        4103,
        4404,
        4699,
        4967,
        5221,
        5389,
        5525,
        5660,
        5743,
        5796,
        5882,
        6008,
        6120,
        6188,
        1770,
        1613,
        1496,
        1428,
        1404,
        1407,
        1436,
        1478,
        1536,
        1623,
        1753,
        1923,
        2121,
        2339,
        2551,
        2849,
        3189,
        3540,
        3902,
        4277,
        4661,
        5033,
        5325,
        5312,
        5228,
        5115,
        5059,
        5057,
        5086,
        5174,
        5303,
        5404,
        5473,
        1344,
        1176,
        1044,
        952,
        914,
        912,
        937,
        999,
        1083,
        1203,
        1374,
        1576,
        1813,
        2080,
        2344,
        2609,
        3051,
        3514,
        3980,
        4446,
        4913,
        5126,
        4916,
        4715,
        4525,
        4354,
        4247,
        4190,
        4172,
        4222,
        4343,
        4466,
        4569,
        937,
        766,
        0,
        0,
        0,
        0,
        0,
        0,
        661,
        818,
        1032,
        1267,
        1532,
        1839,
        2149,
        2459,
        2905,
        3473,
        4039,
        4592,
        4927,
        4671,
        4395,
        4117,
        3853,
        3628,
        3470,
        3368,
        3308,
        3319,
        3410,
        3509,
        3603,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        710,
        981,
        1272,
        1610,
        1961,
        2318,
        2758,
        3407,
        4061,
        4691,
        4534,
        4216,
        3881,
        3541,
        3215,
        2940,
        2737,
        2607,
        2555,
        2547,
        2580,
        2635,
        2728,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        693,
        1025,
        1391,
        1774,
        2178,
        2608,
        3310,
        4031,
        4472,
        4119,
        3747,
        3360,
        2968,
        2609,
        2427,
        2290,
        2194,
        2132,
        2116,
        2140,
        2187,
        2248,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        807,
        1198,
        1611,
        2045,
        2513,
        3184,
        3946,
        4086,
        3674,
        3259,
        2836,
        2499,
        2268,
        2073,
        1924,
        1821,
        1755,
        1737,
        1763,
        1812,
        1880,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1040,
        1474,
        1932,
        2416,
        3052,
        3826,
        3690,
        3226,
        2777,
        2450,
        2192,
        1953,
        1752,
        1596,
        1488,
        1421,
        1404,
        1432,
        1488,
        1566,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        913,
        1364,
        1833,
        2323,
        2913,
        3687,
        3304,
        2801,
        2446,
        2174,
        1910,
        1669,
        1466,
        1308,
        1197,
        1132,
        1114,
        1148,
        1212,
        1298,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        812,
        1275,
        1748,
        2237,
        2767,
        3526,
        2950,
        2501,
        2208,
        1930,
        1665,
        1425,
        1222,
        1064,
        950,
        885,
        870,
        910,
        983,
        1075,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        726,
        1193,
        1672,
        2156,
        2626,
        3272,
        2651,
        2312,
        2010,
        1727,
        1461,
        1223,
        1023,
        863,
        747,
        683,
        672,
        719,
        797,
        893,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1118,
        1599,
        2078,
        2541,
        3056,
        2504,
        2170,
        1861,
        1574,
        1306,
        1069,
        872,
        710,
        0,
        0,
        0,
        0,
        0,
        749,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1061,
        1534,
        2004,
        2455,
        2885,
        2412,
        2076,
        1766,
        1476,
        1210,
        977,
        779,
        0,
        0,
        0,
        0,
        0,
        0,
        658,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1011,
        1470,
        1927,
        2364,
        2754,
        2349,
        2016,
        1710,
        1424,
        1166,
        941,
        750,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        960,
        1407,
        1853,
        2282,
        2651,
        2307,
        1979,
        1680,
        1402,
        1157,
        945,
        762,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        918,
        1349,
        1777,
        2199,
        2589,
        2272,
        1956,
        1665,
        1401,
        1171,
        972,
        800,
        657,
        0,
        0,
        0,
        0,
        0,
        679,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        886,
        1297,
        1705,
        2114,
        2517,
        2236,
        1934,
        1658,
        1408,
        1194,
        1008,
        849,
        713,
        0,
        0,
        0,
        0,
        0,
        739,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        860,
        1249,
        1635,
        2020,
        2391,
        2194,
        1907,
        1646,
        1415,
        1216,
        1043,
        894,
        770,
        675,
        0,
        0,
        0,
        708,
        804,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        844,
        1206,
        1568,
        1916,
        2257,
        2151,
        1885,
        1642,
        1429,
        1246,
        1083,
        945,
        830,
        741,
        684,
        670,
        702,
        766,
        863,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        841,
        1171,
        1496,
        1812,
        2118,
        2121,
        1879,
        1657,
        1461,
        1292,
        1145,
        1015,
        910,
        824,
        765,
        747,
        769,
        829,
        928,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        837,
        1135,
        1425,
        1706,
        1977,
        2102,
        1887,
        1685,
        1510,
        1355,
        1218,
        1101,
        1004,
        920,
        859,
        832,
        847,
        899,
        991,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        831,
        1095,
        1351,
        1597,
        1839,
        2084,
        1899,
        1722,
        1568,
        1428,
        1304,
        1198,
        1106,
        1027,
        964,
        929,
        937,
        980,
        1064,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        822,
        1051,
        1270,
        1487,
        1703,
        1917,
        1913,
        1764,
        1628,
        1505,
        1397,
        1300,
        1216,
        1140,
        1079,
        1043,
        1040,
        1073,
        1152,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        808,
        1002,
        1191,
        1375,
        1563,
        1743,
        1930,
        1805,
        1691,
        1586,
        1490,
        1405,
        1332,
        1265,
        1204,
        1162,
        1152,
        1183,
        1265,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        786,
        948,
        1103,
        1256,
        1409,
        1560,
        1718,
        1837,
        1744,
        1659,
        1584,
        1516,
        1452,
        1392,
        1333,
        1297,
        1287,
        1323,
        1404,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        757,
        887,
        1012,
        1128,
        1245,
        1365,
        1492,
        1624,
        1757,
        1726,
        1674,
        1623,
        1577,
        1522,
        1476,
        1445,
        1444,
        1482,
        1559,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        724,
        826,
        916,
        996,
        1077,
        1162,
        1259,
        1365,
        1477,
        1585,
        1687,
        1739,
        1702,
        1659,
        1624,
        1602,
        1612,
        1655,
        1729,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        686,
        761,
        818,
        866,
        913,
        966,
        1031,
        1115,
        1205,
        1296,
        1385,
        1452,
        1493,
        1512,
        1527,
        1537,
        1555,
        1560,
        1576,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        696,
        724,
        744,
        759,
        783,
        823,
        882,
        949,
        1025,
        1095,
        1147,
        1171,
        1176,
        1186,
        1194,
        1207,
        1207,
        1226,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        672,
        720,
        778,
        829,
        864,
        874,
        872,
        870,
        874,
        880,
        876,
        880,
    ],
    tile_revision: 1,
)