(
    version: 1,
    field_id: "water",
    x: 26,
    z: 28,
    samples_per_edge: 33,
    sample_spacing_meters: 8.0,
    source_version: "tf2_0a9cb5fb5409e8fb",
    samples: [
        1556,
        1242,
        958,
        716,
        520,
        361,
        234,
        132,
        57,
        10,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        4,
        80,
        248,
        514,
        873,
        1189,
        791,
        452,
        186,
        21,
        0,
        0,
        0,
        0,
        1674,
        1322,
        1019,
        768,
        560,
        390,
        257,
        150,
        69,
        17,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        4,
        81,
        249,
        514,
        873,
        1133,
        725,
        390,
        138,
        2,
        0,
        0,
        0,
        0,
        1798,
        1406,
        1084,
        823,
        604,
        426,
        284,
        171,
        83,
        26,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        7,
        86,
        253,
        514,
        868,
        1109,
        690,
        357,
        114,
        0,
        0,
        0,
        0,
        0,
        1958,
        1529,
        1188,
        916,
        686,
        494,
        342,
        218,
        120,
        53,
        15,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        22,
        115,
        289,
        549,
        901,
        1087,
        669,
        338,
        102,
        0,
        0,
        0,
        0,
        0,
        2157,
        1705,
        1349,
        1065,
        822,
        616,
        448,
        310,
        199,
        115,
        62,
        29,
        10,
        0,
        0,
        0,
        0,
        0,
        11,
        62,
        177,
        368,
        636,
        989,
        1072,
        666,
        339,
        104,
        0,
        0,
        0,
        0,
        0,
        2382,
        1924,
        1560,
        1268,
        1011,
        792,
        608,
        454,
        327,
        227,
        158,
        109,
        73,
        46,
        27,
        17,
        17,
        31,
        66,
        140,
        276,
        487,
        771,
        1138,
        1063,
        678,
        360,
        122,
        0,
        0,
        0,
        0,
        0,
        2624,
        2169,
        1807,
        1511,
        1247,
        1018,
        819,
        650,
        508,
        396,
        311,
        250,
        200,
        158,
        126,
        107,
        104,
        124,
        173,
        264,
        418,
        648,
        954,
        1343,
        1056,
        693,
        388,
        149,
        10,
        0,
        0,
        0,
        0,
        2885,
        2448,
        2092,
        1800,
        1535,
        1298,
        1090,
        909,
        752,
        628,
        534,
        461,
        400,
        345,
        304,
        276,
        268,
        287,
        344,
        447,
        617,
        865,
        1192,
        1428,
        1047,
        711,
        420,
        184,
        31,
        0,
        0,
        0,
        0,
        3169,
        2760,
        2426,
        2141,
        1878,
        1641,
        1427,
        1238,
        1069,
        934,
        835,
        755,
        687,
        624,
        575,
        539,
        522,
        537,
        595,
        705,
        885,
        1150,
        1496,
        1372,
        1033,
        724,
        451,
        223,
        61,
        0,
        0,
        0,
        0,
        3479,
        3104,
        2805,
        2543,
        2284,
        2045,
        1833,
        1641,
        1467,
        1324,
        1224,
        1145,
        1075,
        1008,
        954,
        910,
        884,
        891,
        945,
        1057,
        1242,
        1517,
        1649,
        1316,
        1014,
        735,
        477,
        261,
        97,
        6,
        0,
        0,
        0,
        3814,
        3477,
        3220,
        2983,
        2742,
        2514,
        2314,
        2128,
        1951,
        1806,
        1711,
        1640,
        1577,
        1514,
        1461,
        1406,
        1368,
        1367,
        1415,
        1524,
        1710,
        1875,
        1552,
        1261,
        989,
        735,
        496,
        293,
        135,
        29,
        0,
        0,
        0,
        4202,
        3919,
        3697,
        3496,
        3284,
        3080,
        2893,
        2715,
        2534,
        2391,
        2301,
        2246,
        2199,
        2147,
        2090,
        2028,
        1979,
        1969,
        2008,
        2110,
        2065,
        1742,
        1458,
        1201,
        960,
        730,
        511,
        321,
        172,
        62,
        2,
        0,
        0,
        4506,
        4445,
        4278,
        4119,
        3941,
        3758,
        3585,
        3402,
        3224,
        3085,
        2999,
        2962,
        2933,
        2890,
        2830,
        2761,
        2703,
        2682,
        2552,
        2196,
        1874,
        1597,
        1352,
        1131,
        922,
        720,
        523,
        349,
        210,
        102,
        28,
        0,
        0,
        4230,
        4223,
        4212,
        4180,
        4110,
        4008,
        3907,
        3783,
        3662,
        3574,
        3528,
        3518,
        3524,
        3488,
        3365,
        3144,
        2862,
        2552,
        2237,
        1937,
        1666,
        1434,
        1230,
        1045,
        870,
        698,
        526,
        371,
        247,
        146,
        69,
        17,
        0,
        3948,
        3960,
        3946,
        3879,
        3768,
        3623,
        3473,
        3308,
        3161,
        3054,
        2987,
        2957,
        2951,
        2921,
        2823,
        2646,
        2415,
        2161,
        1902,
        1656,
        1436,
        1249,
        1087,
        940,
        800,
        660,
        516,
        384,
        277,
        189,
        118,
        62,
        23,
        3648,
        3659,
        3635,
        3545,
        3397,
        3214,
        3022,
        2830,
        2659,
        2536,
        2454,
        2410,
        2389,
        2360,
        2285,
        2145,
        1959,
        1756,
        1551,
        1356,
        1183,
        1040,
        920,
        811,
        708,
        602,
        489,
        383,
        297,
        226,
        167,
        116,
        75,
        3342,
        3320,
        3263,
        3151,
        2984,
        2776,
        2561,
        2352,
        2167,
        2029,
        1938,
        1880,
        1848,
        1819,
        1763,
        1653,
        1503,
        1343,
        1186,
        1041,
        912,
        810,
        729,
        658,
        591,
        521,
        444,
        367,
        302,
        251,
        207,
        169,
        137,
        3021,
        2943,
        2838,
        2697,
        2522,
        2316,
        2099,
        1890,
        1702,
        1557,
        1457,
        1391,
        1350,
        1320,
        1273,
        1190,
        1078,
        962,
        848,
        746,
        660,
        596,
        542,
        497,
        456,
        415,
        372,
        327,
        289,
        263,
        240,
        221,
        203,
        2695,
        2559,
        2404,
        2233,
        2048,
        1856,
        1657,
        1463,
        1282,
        1138,
        1032,
        960,
        913,
        881,
        840,
        779,
        707,
        636,
        566,
        504,
        457,
        419,
        383,
        349,
        322,
        298,
        280,
        268,
        263,
        265,
        270,
        276,
        278,
        2379,
        2191,
        1997,
        1798,
        1609,
        1425,
        1247,
        1075,
        910,
        774,
        671,
        598,
        550,
        517,
        481,
        440,
        399,
        366,
        332,
        307,
        290,
        272,
        248,
        222,
        200,
        188,
        189,
        204,
        232,
        264,
        300,
        336,
        361,
        2094,
        1862,
        1636,
        1423,
        1228,
        1051,
        888,
        735,
        590,
        469,
        377,
        311,
        267,
        237,
        209,
        183,
        165,
        156,
        151,
        150,
        153,
        149,
        135,
        118,
        103,
        99,
        112,
        145,
        198,
        262,
        330,
        400,
        452,
        1858,
        1588,
        1338,
        1114,
        921,
        750,
        597,
        458,
        329,
        227,
        157,
        108,
        76,
        55,
        37,
        26,
        22,
        24,
        29,
        38,
        49,
        53,
        48,
        40,
        35,
        38,
        57,
        101,
        173,
        265,
        366,
        469,
        549,
        1687,
        1389,
        1118,
        883,
        687,
        520,
        376,
        251,
        144,
        67,
        24,
        3,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1,
        1,
        1,
        7,
        26,
        77,
        162,
        277,
        409,
        542,
        645,
        1586,
        1268,
        980,
        733,
        530,
        363,
        227,
        118,
        38,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        14,
        69,
        169,
        304,
        462,
        621,
        745,
        1543,
        1207,
        903,
        643,
        433,
        265,
        136,
        45,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        11,
        74,
        189,
        345,
        525,
        705,
        849,
        1535,
        1184,
        866,
        593,
        375,
        205,
        83,
        11,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        13,
        90,
        222,
        397,
        595,
        789,
        955,
        1543,
        1182,
        851,
        567,
        341,
        170,
        54,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        22,
        115,
        264,
        456,
        668,
        875,
        1057,
        1550,
        1182,
        843,
        551,
        320,
        148,
        37,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        36,
        148,
        314,
        518,
        739,
        958,
        1154,
        1537,
        1166,
        825,
        531,
        301,
        132,
        27,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        56,
        184,
        363,
        578,
        807,
        1035,
        1241,
        1484,
        1116,
        780,
        492,
        267,
        106,
        13,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        3,
        80,
        223,
        415,
        637,
        877,
        1116,
        1330,
        1390,
        1030,
        705,
        429,
        213,
        66,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        12,
        108,
        266,
        469,
        705,
        960,
        1212,
        1436,
        1261,
        916,
        609,
        349,
        150,
        25,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        26,
        141,
        314,
        533,
        786,
        1058,
        1324,
        1562,
        1108,
        783,
        500,
        263,
        87,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        47,
        181,
        372,
        610,
        883,
        1173,
        1456,
        1707,
    ],
    tile_revision: 1,
)