(
    version: 1,
    field_id: "water",
    x: 26,
    z: 27,
    samples_per_edge: 33,
    sample_spacing_meters: 8.0,
    source_version: "tf2_0a9cb5fb5409e8fb",
    samples: [
        226,
        167,
        127,
        103,
        92,
        87,
        86,
        90,
        93,
        87,
        67,
        47,
        35,
        32,
        36,
        44,
        53,
        60,
        59,
        47,
        26,
        1,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        251,
        189,
        145,
        119,
        106,
        101,
        102,
        107,
        110,
        105,
        87,
        67,
        55,
        53,
        60,
        70,
        86,
        94,
        93,
        77,
        49,
        13,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        274,
        210,
        163,
        133,
        116,
        110,
        111,
        116,
        119,
        115,
        102,
        86,
        77,
        78,
        87,
        105,
        126,
        137,
        134,
        114,
        76,
        34,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        296,
        230,
        180,
        147,
        128,
        119,
        117,
        120,
        123,
        120,
        113,
        105,
        100,
        106,
        118,
        139,
        164,
        180,
        172,
        152,
        107,
        58,
        11,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        319,
        251,
        199,
        164,
        142,
        129,
        125,
        127,
        127,
        127,
        125,
        123,
        126,
        137,
        149,
        171,
        193,
        211,
        211,
        185,
        141,
        83,
        30,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        344,
        274,
        222,
        186,
        161,
        146,
        139,
        139,
        139,
        140,
        142,
        146,
        154,
        168,
        181,
        199,
        221,
        237,
        238,
        215,
        167,
        108,
        48,
        5,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        374,
        305,
        253,
        216,
        191,
        174,
        165,
        164,
        164,
        165,
        170,
        176,
        186,
        200,
        212,
        224,
        244,
        261,
        260,
        238,
        189,
        124,
        61,
        12,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        411,
        343,
        292,
        256,
        233,
        217,
        207,
        204,
        207,
        208,
        213,
        221,
        231,
        242,
        253,
        260,
        273,
        283,
        282,
        257,
        207,
        141,
        72,
        17,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        452,
        387,
        338,
        303,
        281,
        267,
        256,
        254,
        256,
        260,
        267,
        276,
        288,
        301,
        309,
        312,
        322,
        327,
        309,
        278,
        226,
        157,
        84,
        23,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        489,
        430,
        382,
        347,
        325,
        314,
        305,
        302,
        304,
        308,
        319,
        330,
        343,
        359,
        368,
        365,
        364,
        357,
        337,
        298,
        248,
        177,
        99,
        31,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        520,
        467,
        420,
        384,
        363,
        353,
        346,
        343,
        343,
        348,
        362,
        376,
        390,
        407,
        415,
        409,
        395,
        376,
        350,
        314,
        271,
        201,
        116,
        41,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        546,
        498,
        451,
        412,
        390,
        380,
        373,
        369,
        366,
        369,
        385,
        405,
        419,
        434,
        440,
        431,
        416,
        391,
        357,
        319,
        277,
        217,
        134,
        54,
        4,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        563,
        516,
        468,
        425,
        401,
        388,
        381,
        374,
        368,
        369,
        381,
        399,
        417,
        430,
        437,
        426,
        409,
        381,
        351,
        314,
        277,
        226,
        150,
        73,
        15,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        578,
        531,
        479,
        431,
        401,
        384,
        372,
        362,
        352,
        345,
        349,
        360,
        371,
        384,
        388,
        382,
        367,
        348,
        323,
        300,
        273,
        227,
        165,
        92,
        31,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        602,
        551,
        493,
        440,
        402,
        373,
        354,
        337,
        321,
        307,
        300,
        298,
        300,
        305,
        307,
        303,
        298,
        292,
        282,
        270,
        254,
        220,
        169,
        107,
        48,
        9,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        632,
        573,
        507,
        444,
        395,
        356,
        327,
        302,
        281,
        260,
        240,
        226,
        218,
        214,
        213,
        215,
        220,
        226,
        232,
        233,
        229,
        207,
        169,
        120,
        68,
        27,
        4,
        0,
        0,
        0,
        0,
        0,
        0,
        659,
        594,
        518,
        441,
        380,
        330,
        291,
        261,
        235,
        205,
        176,
        153,
        136,
        128,
        125,
        131,
        145,
        163,
        182,
        198,
        205,
        194,
        166,
        131,
        90,
        53,
        30,
        16,
        9,
        5,
        3,
        3,
        4,
        679,
        607,
        520,
        430,
        356,
        294,
        245,
        210,
        183,
        150,
        114,
        87,
        68,
        59,
        58,
        65,
        82,
        107,
        136,
        163,
        181,
        182,
        167,
        144,
        117,
        93,
        77,
        72,
        75,
        84,
        97,
        112,
        130,
        690,
        606,
        505,
        404,
        319,
        248,
        192,
        150,
        123,
        94,
        61,
        37,
        22,
        15,
        15,
        23,
        38,
        64,
        98,
        133,
        159,
        172,
        171,
        164,
        156,
        150,
        153,
        168,
        194,
        232,
        278,
        328,
        375,
        697,
        598,
        485,
        371,
        274,
        195,
        133,
        89,
        61,
        41,
        19,
        5,
        0,
        0,
        0,
        3,
        13,
        34,
        67,
        104,
        139,
        163,
        179,
        193,
        209,
        231,
        265,
        310,
        371,
        446,
        533,
        628,
        716,
        711,
        598,
        471,
        344,
        234,
        144,
        78,
        35,
        13,
        3,
        0,
        0,
        0,
        0,
        0,
        0,
        1,
        15,
        42,
        78,
        118,
        156,
        192,
        232,
        278,
        336,
        411,
        502,
        603,
        723,
        856,
        999,
        1140,
        733,
        603,
        464,
        324,
        199,
        101,
        35,
        3,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        4,
        24,
        56,
        98,
        149,
        209,
        279,
        362,
        463,
        587,
        731,
        884,
        1055,
        1236,
        1371,
        1273,
        762,
        617,
        468,
        315,
        175,
        69,
        9,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        11,
        40,
        84,
        146,
        230,
        335,
        459,
        608,
        784,
        984,
        1199,
        1321,
        1156,
        1011,
        887,
        799,
        639,
        482,
        321,
        166,
        52,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        4,
        29,
        77,
        151,
        258,
        398,
        567,
        764,
        994,
        1250,
        1233,
        1035,
        852,
        689,
        554,
        843,
        670,
        501,
        331,
        170,
        48,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1,
        25,
        77,
        164,
        293,
        465,
        673,
        919,
        1201,
        1209,
        972,
        758,
        572,
        410,
        279,
        894,
        708,
        525,
        348,
        185,
        59,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        23,
        81,
        181,
        331,
        535,
        782,
        1074,
        1265,
        990,
        741,
        522,
        341,
        195,
        89,
        954,
        751,
        553,
        370,
        209,
        81,
        7,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        19,
        83,
        196,
        366,
        601,
        897,
        1244,
        1098,
        809,
        554,
        340,
        174,
        58,
        1,
        1023,
        804,
        593,
        401,
        243,
        115,
        30,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        15,
        84,
        207,
        400,
        666,
        1008,
        1287,
        959,
        662,
        407,
        205,
        63,
        0,
        0,
        1106,
        870,
        646,
        447,
        289,
        162,
        67,
        11,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        12,
        83,
        218,
        432,
        729,
        1111,
        1170,
        837,
        538,
        289,
        106,
        5,
        0,
        0,
        1203,
        952,
        715,
        507,
        345,
        217,
        115,
        43,
        4,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        8,
        82,
        227,
        460,
        787,
        1204,
        1065,
        726,
        429,
        195,
        39,
        0,
        0,
        0,
        1318,
        1053,
        803,
        583,
        412,
        276,
        165,
        81,
        24,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        6,
        81,
        235,
        483,
        831,
        1277,
        970,
        628,
        338,
        121,
        3,
        0,
        0,
        0,
        1439,
        1155,
        888,
        657,
        473,
        326,
        205,
        111,
        43,
        3,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        5,
        81,
        244,
        504,
        859,
        1265,
        877,
        536,
        255,
        62,
        0,
        0,
        0,
        0,
        1556,
        1242,
        958,
        716,
        520,
        361,
        234,
        132,
        57,
        10,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        4,
        80,
        248,
        514,
        873,
        1189,
        791,
        452,
        186,
        21,
        0,
        0,
        0,
        0,
    ],
    tile_revision: 1,
)