(
    version: 1,
    field_id: "water",
    x: 26,
    z: 30,
    samples_per_edge: 33,
    sample_spacing_meters: 8.0,
    source_version: "tf2_0a9cb5fb5409e8fb",
    samples: [
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        81,
        261,
        506,
        794,
        1099,
        1410,
        1727,
        2055,
        2408,
        2796,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        66,
        235,
        468,
        741,
        1031,
        1329,
        1635,
        1951,
        2290,
        2662,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        54,
        216,
        444,
        707,
        988,
        1283,
        1590,
        1908,
        2245,
        2609,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        44,
        202,
        427,
        686,
        962,
        1260,
        1574,
        1902,
        2244,
        2602,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        35,
        190,
        414,
        670,
        944,
        1246,
        1570,
        1909,
        2256,
        2610,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        28,
        178,
        401,
        653,
        925,
        1230,
        1560,
        1906,
        2256,
        2602,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        21,
        165,
        383,
        630,
        897,
        1200,
        1527,
        1869,
        2212,
        2547,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        18,
        155,
        364,
        603,
        864,
        1158,
        1478,
        1810,
        2141,
        2460,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        19,
        150,
        350,
        581,
        835,
        1122,
        1433,
        1755,
        2074,
        2379,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        22,
        149,
        340,
        565,
        813,
        1094,
        1396,
        1709,
        2017,
        2310,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        29,
        153,
        337,
        555,
        802,
        1076,
        1371,
        1675,
        1975,
        2257,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        37,
        160,
        340,
        556,
        802,
        1074,
        1362,
        1659,
        1951,
        2223,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        45,
        172,
        352,
        569,
        815,
        1087,
        1373,
        1665,
        1950,
        2216,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        51,
        182,
        365,
        585,
        832,
        1103,
        1384,
        1669,
        1947,
        2206,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        54,
        188,
        375,
        597,
        846,
        1112,
        1387,
        1660,
        1927,
        2176,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        56,
        195,
        387,
        616,
        866,
        1128,
        1395,
        1658,
        1913,
        2154,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        61,
        208,
        409,
        647,
        903,
        1164,
        1425,
        1681,
        1928,
        2165,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        74,
        232,
        447,
        700,
        967,
        1234,
        1496,
        1751,
        1997,
        2234,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        6,
        106,
        285,
        519,
        791,
        1075,
        1355,
        1628,
        1891,
        2143,
        2387,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        32,
        163,
        364,
        618,
        908,
        1214,
        1518,
        1813,
        2096,
        2367,
        2621,
        1,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        3,
        86,
        245,
        462,
        727,
        1033,
        1361,
        1695,
        2025,
        2343,
        2639,
        2909,
        61,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        48,
        172,
        351,
        578,
        851,
        1167,
        1518,
        1887,
        2256,
        2614,
        2944,
        3229,
        197,
        59,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        31,
        137,
        289,
        482,
        714,
        990,
        1315,
        1688,
        2089,
        2498,
        2896,
        3257,
        3556,
        401,
        205,
        67,
        1,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        17,
        116,
        258,
        432,
        635,
        871,
        1149,
        1482,
        1871,
        2298,
        2740,
        3170,
        3554,
        3863,
        659,
        410,
        213,
        79,
        8,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        4,
        89,
        231,
        400,
        591,
        805,
        1048,
        1333,
        1673,
        2072,
        2513,
        2970,
        3412,
        3807,
        4117,
        967,
        669,
        421,
        231,
        103,
        26,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        61,
        191,
        361,
        551,
        758,
        988,
        1245,
        1540,
        1887,
        2288,
        2725,
        3175,
        3608,
        3993,
        4294,
        1331,
        994,
        698,
        458,
        280,
        152,
        66,
        14,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        52,
        162,
        317,
        504,
        712,
        938,
        1185,
        1460,
        1768,
        2118,
        2512,
        2930,
        3354,
        3760,
        4121,
        4407,
        1757,
        1387,
        1048,
        762,
        537,
        364,
        233,
        135,
        66,
        20,
        0,
        0,
        0,
        0,
        0,
        19,
        77,
        172,
        304,
        472,
        669,
        891,
        1135,
        1402,
        1696,
        2017,
        2366,
        2743,
        3132,
        3518,
        3886,
        4214,
        4480,
        2251,
        1856,
        1478,
        1145,
        877,
        661,
        489,
        352,
        243,
        156,
        95,
        59,
        46,
        55,
        91,
        154,
        241,
        353,
        494,
        665,
        868,
        1101,
        1362,
        1647,
        1954,
        2283,
        2627,
        2980,
        3334,
        3677,
        4000,
        4290,
        4536,
        2825,
        2402,
        1987,
        1612,
        1303,
        1047,
        836,
        661,
        515,
        394,
        302,
        245,
        223,
        240,
        296,
        380,
        480,
        598,
        740,
        911,
        1117,
        1358,
        1630,
        1925,
        2239,
        2567,
        2898,
        3224,
        3538,
        3839,
        4120,
        4375,
        4601,
        3487,
        3033,
        2582,
        2166,
        1818,
        1525,
        1277,
        1065,
        882,
        726,
        607,
        527,
        495,
        516,
        585,
        683,
        790,
        913,
        1057,
        1229,
        1437,
        1682,
        1954,
        2248,
        2554,
        2867,
        3176,
        3472,
        3753,
        4017,
        4265,
        4492,
        4700,
        4249,
        3761,
        3271,
        2812,
        2418,
        2080,
        1786,
        1531,
        1310,
        1122,
        977,
        882,
        843,
        867,
        945,
        1052,
        1170,
        1302,
        1453,
        1632,
        1844,
        2088,
        2354,
        2638,
        2929,
        3221,
        3504,
        3765,
        4007,
        4230,
        4437,
        4633,
        4820,
        5103,
        4582,
        4055,
        3547,
        3089,
        2685,
        2327,
        2018,
        1755,
        1542,
        1383,
        1283,
        1247,
        1281,
        1368,
        1483,
        1612,
        1756,
        1920,
        2108,
        2322,
        2562,
        2823,
        3098,
        3377,
        3649,
        3905,
        4128,
        4314,
        4477,
        4625,
        4775,
        4937,
    ],
    tile_revision: 1,
)