(
    version: 1,
    field_id: "water",
    x: 2,
    z: 3,
    samples_per_edge: 33,
    sample_spacing_meters: 8.0,
    source_version: "tf2_0a9cb5fb5409e8fb",
    samples: [
        5635,
        6326,
        5522,
        4707,
        3924,
        3199,
        2559,
        2014,
        1574,
        1241,
        1004,
        841,
        734,
        669,
        636,
        638,
        672,
        720,
        779,
        845,
        917,
        981,
        1027,
        1063,
        1091,
        1119,
        1151,
        1178,
        1197,
        1220,
        1262,
        1338,
        1462,
        5687,
        6102,
        5322,
        4536,
        3779,
        3080,
        2462,
        1935,
        1510,
        1192,
        968,
        816,
        718,
        660,
        630,
        633,
        665,
        710,
        767,
        832,
        905,
        970,
        1021,
        1061,
        1094,
        1126,
        1162,
        1193,
        1213,
        1238,
        1280,
        1357,
        1485,
        5659,
        5800,
        5050,
        4298,
        3576,
        2909,
        2318,
        1817,
        1411,
        1112,
        909,
        778,
        697,
        650,
        626,
        626,
        654,
        694,
        745,
        807,
        879,
        947,
        1004,
        1052,
        1094,
        1135,
        1178,
        1213,
        1234,
        1257,
        1298,
        1372,
        1501,
        5574,
        5465,
        4739,
        4029,
        3346,
        2715,
        2155,
        1681,
        1296,
        1020,
        840,
        732,
        671,
        639,
        621,
        619,
        642,
        674,
        718,
        775,
        847,
        919,
        983,
        1041,
        1095,
        1147,
        1200,
        1239,
        1260,
        1281,
        1320,
        1391,
        1520,
        5460,
        5133,
        4435,
        3765,
        3119,
        2525,
        1996,
        1548,
        1184,
        929,
        774,
        686,
        644,
        626,
        614,
        611,
        628,
        653,
        691,
        743,
        815,
        893,
        965,
        1033,
        1099,
        1164,
        1228,
        1274,
        1297,
        1317,
        1353,
        1422,
        1551,
        5344,
        4839,
        4168,
        3534,
        2925,
        2364,
        1863,
        1439,
        1092,
        853,
        718,
        647,
        620,
        612,
        604,
        601,
        615,
        635,
        668,
        717,
        789,
        873,
        953,
        1032,
        1111,
        1188,
        1264,
        1319,
        1346,
        1367,
        1403,
        1474,
        1605,
        5248,
        4612,
        3969,
        3367,
        2788,
        2252,
        1774,
        1367,
        1034,
        807,
        681,
        620,
        599,
        596,
        591,
        588,
        601,
        622,
        653,
        703,
        776,
        866,
        955,
        1043,
        1133,
        1222,
        1311,
        1376,
        1411,
        1438,
        1479,
        1555,
        1691,
        5092,
        4417,
        3804,
        3233,
        2685,
        2178,
        1725,
        1336,
        1012,
        787,
        659,
        594,
        566,
        559,
        553,
        552,
        571,
        599,
        640,
        697,
        776,
        869,
        963,
        1055,
        1149,
        1246,
        1345,
        1423,
        1474,
        1517,
        1572,
        1661,
        1803,
        4867,
        4213,
        3625,
        3088,
        2581,
        2112,
        1693,
        1326,
        1013,
        783,
        641,
        558,
        513,
        492,
        482,
        487,
        517,
        562,
        619,
        691,
        778,
        873,
        966,
        1056,
        1148,
        1246,
        1351,
        1445,
        1518,
        1585,
        1665,
        1773,
        1927,
        4656,
        4018,
        3449,
        2943,
        2478,
        2052,
        1669,
        1326,
        1023,
        785,
        624,
        517,
        450,
        414,
        398,
        410,
        454,
        516,
        595,
        685,
        783,
        879,
        967,
        1051,
        1137,
        1232,
        1341,
        1450,
        1548,
        1644,
        1752,
        1884,
        2050,
        4464,
        3835,
        3285,
        2808,
        2380,
        1994,
        1644,
        1324,
        1030,
        784,
        602,
        474,
        388,
        338,
        320,
        337,
        392,
        472,
        570,
        678,
        787,
        883,
        967,
        1045,
        1123,
        1214,
        1326,
        1449,
        1570,
        1694,
        1830,
        1985,
        2162,
        4229,
        3618,
        3089,
        2640,
        2249,
        1900,
        1582,
        1285,
        1005,
        758,
        566,
        426,
        330,
        274,
        254,
        276,
        339,
        431,
        544,
        666,
        785,
        884,
        965,
        1039,
        1115,
        1204,
        1320,
        1455,
        1595,
        1743,
        1901,
        2076,
        2266,
        3957,
        3372,
        2869,
        2448,
        2086,
        1767,
        1474,
        1200,
        935,
        699,
        513,
        376,
        283,
        229,
        212,
        236,
        303,
        399,
        519,
        650,
        774,
        878,
        963,
        1039,
        1118,
        1211,
        1334,
        1479,
        1632,
        1794,
        1966,
        2152,
        2351,
        3693,
        3147,
        2675,
        2279,
        1934,
        1628,
        1351,
        1091,
        843,
        626,
        458,
        335,
        254,
        209,
        197,
        222,
        285,
        377,
        492,
        619,
        746,
        856,
        952,
        1042,
        1135,
        1243,
        1375,
        1527,
        1684,
        1847,
        2019,
        2207,
        2409,
        3451,
        2954,
        2520,
        2144,
        1810,
        1510,
        1237,
        987,
        756,
        560,
        414,
        310,
        243,
        208,
        200,
        223,
        279,
        357,
        457,
        572,
        696,
        815,
        929,
        1041,
        1159,
        1288,
        1436,
        1591,
        1744,
        1900,
        2064,
        2244,
        2446,
        3206,
        2765,
        2372,
        2018,
        1694,
        1395,
        1126,
        884,
        670,
        497,
        373,
        290,
        239,
        215,
        212,
        233,
        276,
        337,
        417,
        515,
        634,
        763,
        896,
        1036,
        1183,
        1339,
        1503,
        1661,
        1807,
        1949,
        2098,
        2268,
        2471,
        2933,
        2550,
        2201,
        1874,
        1563,
        1273,
        1009,
        779,
        583,
        433,
        333,
        269,
        234,
        220,
        222,
        239,
        269,
        314,
        374,
        457,
        568,
        706,
        859,
        1026,
        1202,
        1383,
        1563,
        1724,
        1862,
        1990,
        2125,
        2286,
        2488,
        2612,
        2287,
        1983,
        1690,
        1401,
        1128,
        882,
        669,
        494,
        367,
        287,
        241,
        218,
        214,
        221,
        234,
        254,
        284,
        331,
        403,
        509,
        653,
        821,
        1008,
        1208,
        1410,
        1603,
        1768,
        1900,
        2019,
        2145,
        2299,
        2506,
        2228,
        1957,
        1702,
        1449,
        1196,
        956,
        739,
        553,
        403,
        297,
        233,
        200,
        186,
        187,
        197,
        208,
        224,
        248,
        290,
        357,
        463,
        610,
        785,
        983,
        1195,
        1408,
        1609,
        1778,
        1913,
        2033,
        2159,
        2316,
        2529,
        1813,
        1593,
        1387,
        1180,
        973,
        776,
        598,
        446,
        322,
        233,
        179,
        149,
        136,
        137,
        146,
        159,
        177,
        206,
        253,
        327,
        438,
        587,
        763,
        961,
        1172,
        1387,
        1592,
        1768,
        1913,
        2044,
        2182,
        2351,
        2575,
        1411,
        1243,
        1083,
        923,
        764,
        613,
        475,
        356,
        256,
        182,
        131,
        99,
        82,
        77,
        83,
        98,
        122,
        162,
        222,
        309,
        430,
        581,
        755,
        947,
        1152,
        1363,
        1571,
        1754,
        1914,
        2064,
        2221,
        2409,
        2646,
        1034,
        915,
        798,
        683,
        569,
        462,
        363,
        275,
        199,
        135,
        87,
        53,
        34,
        26,
        28,
        42,
        70,
        119,
        193,
        295,
        427,
        582,
        752,
        936,
        1131,
        1335,
        1544,
        1738,
        1916,
        2088,
        2269,
        2477,
        2732,
        695,
        618,
        540,
        463,
        390,
        321,
        257,
        197,
        142,
        91,
        48,
        18,
        3,
        0,
        0,
        6,
        29,
        79,
        163,
        279,
        421,
        578,
        745,
        920,
        1106,
        1303,
        1513,
        1719,
        1913,
        2108,
        2314,
        2544,
        2817,
        405,
        362,
        316,
        271,
        230,
        193,
        156,
        120,
        85,
        48,
        15,
        0,
        0,
        0,
        0,
        0,
        4,
        46,
        131,
        255,
        402,
        560,
        724,
        894,
        1074,
        1267,
        1478,
        1694,
        1904,
        2119,
        2347,
        2598,
        2885,
        176,
        159,
        137,
        116,
        99,
        83,
        67,
        49,
        31,
        11,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        20,
        97,
        216,
        362,
        518,
        681,
        851,
        1031,
        1225,
        1440,
        1666,
        1888,
        2116,
        2358,
        2624,
        2924,
        29,
        25,
        21,
        16,
        12,
        9,
        6,
        2,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        3,
        57,
        160,
        294,
        445,
        607,
        781,
        967,
        1167,
        1388,
        1621,
        1854,
        2095,
        2349,
        2628,
        2939,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        20,
        96,
        210,
        350,
        510,
        687,
        880,
        1090,
        1317,
        1556,
        1802,
        2058,
        2330,
        2625,
        2949,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        40,
        128,
        253,
        406,
        584,
        785,
        1002,
        1234,
        1479,
        1736,
        2009,
        2299,
        2609,
        2946,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        5,
        63,
        166,
        310,
        486,
        689,
        912,
        1146,
        1395,
        1662,
        1949,
        2256,
        2583,
        2930,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        21,
        102,
        231,
        401,
        603,
        827,
        1062,
        1311,
        1586,
        1883,
        2202,
        2541,
        2897,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        3,
        63,
        177,
        336,
        532,
        753,
        986,
        1235,
        1510,
        1812,
        2136,
        2481,
        2843,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        45,
        147,
        294,
        476,
        687,
        913,
        1159,
        1432,
        1730,
        2052,
        2398,
        2761,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        41,
        134,
        266,
        430,
        622,
        838,
        1078,
        1346,
        1635,
        1951,
        2291,
        2653,
    ],
    tile_revision: 1,
)