(
    version: 1,
    field_id: "water",
    x: 30,
    z: 15,
    samples_per_edge: 33,
    sample_spacing_meters: 8.0,
    source_version: "tf2_0a9cb5fb5409e8fb",
    samples: [
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        916,
        1216,
        1485,
        1704,
        1891,
        2051,
        2189,
        2352,
        2533,
        2790,
        3106,
        3419,
        3718,
        3997,
        4316,
        4650,
        4999,
        5324,
        5602,
        5886,
        6200,
        6575,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        899,
        1207,
        1485,
        1715,
        1912,
        2079,
        2224,
        2383,
        2568,
        2852,
        3157,
        3430,
        3665,
        3949,
        4260,
        4596,
        4951,
        5292,
        5557,
        5829,
        6132,
        6479,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        889,
        1192,
        1476,
        1725,
        1948,
        2141,
        2303,
        2470,
        2679,
        2990,
        3257,
        3472,
        3715,
        4022,
        4344,
        4672,
        4997,
        5309,
        5552,
        5810,
        6099,
        6433,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        906,
        1197,
        1484,
        1756,
        1976,
        2120,
        2291,
        2472,
        2675,
        2971,
        3267,
        3602,
        3887,
        4190,
        4501,
        4804,
        5096,
        5351,
        5572,
        5807,
        6079,
        6397,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        671,
        963,
        1248,
        1533,
        1741,
        1877,
        2033,
        2208,
        2382,
        2552,
        2821,
        3165,
        3532,
        3927,
        4362,
        4694,
        4964,
        5221,
        5407,
        5596,
        5805,
        6056,
        6342,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        766,
        1048,
        1326,
        1525,
        1632,
        1771,
        1934,
        2114,
        2292,
        2467,
        2691,
        3057,
        3452,
        3878,
        4335,
        4801,
        5123,
        5309,
        5459,
        5619,
        5800,
        6014,
        6261,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        835,
        1104,
        1342,
        1417,
        1528,
        1668,
        1833,
        2015,
        2194,
        2375,
        2577,
        2926,
        3342,
        3795,
        4278,
        4759,
        5222,
        5376,
        5498,
        5629,
        5778,
        5967,
        6182,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        904,
        1188,
        1268,
        1337,
        1439,
        1574,
        1737,
        1916,
        2094,
        2278,
        2481,
        2768,
        3192,
        3653,
        4151,
        4653,
        5143,
        5411,
        5519,
        5629,
        5758,
        5917,
        6104,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        704,
        1003,
        1185,
        1222,
        1290,
        1384,
        1505,
        1655,
        1829,
        2012,
        2194,
        2396,
        2614,
        3019,
        3483,
        3994,
        4526,
        5053,
        5450,
        5546,
        5642,
        5741,
        5872,
        6027,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        802,
        1122,
        1156,
        1195,
        1265,
        1352,
        1467,
        1605,
        1773,
        1946,
        2127,
        2324,
        2531,
        2868,
        3325,
        3841,
        4391,
        4957,
        5447,
        5578,
        5655,
        5735,
        5835,
        5960,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        909,
        1103,
        1134,
        1183,
        1246,
        1329,
        1435,
        1559,
        1712,
        1878,
        2055,
        2239,
        2441,
        2716,
        3180,
        3724,
        4307,
        4911,
        5430,
        5623,
        5686,
        5741,
        5805,
        5895,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        992,
        1045,
        1086,
        1141,
        1205,
        1281,
        1368,
        1475,
        1607,
        1756,
        1924,
        2098,
        2295,
        2531,
        2977,
        3602,
        4274,
        4949,
        5501,
        5743,
        5770,
        5785,
        5805,
        5852,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        885,
        911,
        943,
        995,
        1059,
        1129,
        1214,
        1315,
        1423,
        1559,
        1723,
        1905,
        2117,
        2380,
        2721,
        3375,
        4105,
        4869,
        5535,
        5891,
        5901,
        5874,
        5852,
        5859,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        733,
        751,
        777,
        826,
        876,
        940,
        1020,
        1104,
        1203,
        1365,
        1541,
        1740,
        1969,
        2233,
        2548,
        3166,
        3925,
        4732,
        5469,
        5930,
        5994,
        5983,
        5918,
        5874,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        690,
        746,
        811,
        898,
        1016,
        1179,
        1373,
        1587,
        1832,
        2115,
        2454,
        3017,
        3815,
        4642,
        5408,
        5899,
        5947,
        5937,
        5901,
        5856,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        737,
        859,
        1019,
        1221,
        1452,
        1720,
        2027,
        2382,
        2913,
        3711,
        4551,
        5340,
        5848,
        5858,
        5819,
        5776,
        5718,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        725,
        889,
        1096,
        1342,
        1631,
        1972,
        2338,
        2845,
        3634,
        4454,
        5259,
        5783,
        5749,
        5689,
        5609,
        5508,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        787,
        1005,
        1267,
        1571,
        1917,
        2311,
        2824,
        3580,
        4361,
        5166,
        5695,
        5624,
        5529,
        5391,
        5259,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        741,
        964,
        1234,
        1545,
        1902,
        2295,
        2768,
        3500,
        4253,
        5013,
        5607,
        5512,
        5390,
        5244,
        4999,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        736,
        968,
        1241,
        1554,
        1904,
        2288,
        2746,
        3463,
        4188,
        4919,
        5534,
        5411,
        5256,
        4999,
        4689,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        778,
        1013,
        1288,
        1598,
        1934,
        2314,
        2779,
        3478,
        4160,
        4836,
        5443,
        5282,
        5023,
        4694,
        4558,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        838,
        1083,
        1361,
        1672,
        2016,
        2373,
        2867,
        3533,
        4194,
        4836,
        5396,
        5188,
        4836,
        4693,
        4527,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        690,
        911,
        1178,
        1462,
        1766,
        2097,
        2446,
        2971,
        3637,
        4259,
        4886,
        5445,
        5267,
        4954,
        4733,
        4474,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        736,
        952,
        1187,
        1474,
        1782,
        2114,
        2479,
        3048,
        3725,
        4361,
        4975,
        5511,
        5332,
        5042,
        4748,
        4429,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        709,
        908,
        1147,
        1417,
        1732,
        2090,
        2473,
        3112,
        3850,
        4496,
        5120,
        5559,
        5416,
        5159,
        4860,
        4553,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        835,
        1076,
        1368,
        1700,
        2064,
        2488,
        3163,
        3897,
        4582,
        5191,
        5617,
        5529,
        5313,
        4995,
        4666,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        744,
        947,
        1336,
        1692,
        2085,
        2546,
        3200,
        3926,
        4577,
        5195,
        5633,
        5616,
        5375,
        5076,
        4710,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        972,
        1294,
        1687,
        2110,
        2515,
        3116,
        3891,
        4585,
        5216,
        5644,
        5698,
        5437,
        5150,
        4773,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        970,
        1288,
        1674,
        2081,
        2480,
        3125,
        3868,
        4514,
        5145,
        5593,
        5767,
        5511,
        5290,
        4902,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        660,
        950,
        1280,
        1632,
        2021,
        2416,
        3001,
        3739,
        4374,
        4971,
        5488,
        5834,
        5584,
        5347,
        5029,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        903,
        1224,
        1556,
        1939,
        2328,
        2811,
        3522,
        4157,
        4724,
        5311,
        5755,
        5589,
        5360,
        5085,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        866,
        1157,
        1484,
        1855,
        2233,
        2644,
        3293,
        3874,
        4444,
        5058,
        5569,
        5618,
        5424,
        5149,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        811,
        1095,
        1412,
        1718,
        2085,
        2493,
        3078,
        3680,
        4264,
        4856,
        5400,
        5648,
        5432,
        5085,
    ],
    tile_revision: 1,
)