(
    version: 1,
    field_id: "water",
    x: 31,
    z: 18,
    samples_per_edge: 33,
    sample_spacing_meters: 8.0,
    source_version: "tf2_0a9cb5fb5409e8fb",
    samples: [
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        4,
        67,
        198,
        403,
        672,
        995,
        1377,
        1813,
        2315,
        2873,
        3007,
        2492,
        2007,
        1556,
        1129,
        727,
        384,
        133,
        3,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        54,
        193,
        410,
        689,
        1026,
        1420,
        1880,
        2401,
        2982,
        3081,
        2524,
        2002,
        1514,
        1062,
        654,
        316,
        84,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        45,
        173,
        393,
        698,
        1064,
        1496,
        1994,
        2566,
        3184,
        3240,
        2623,
        2045,
        1511,
        1023,
        599,
        265,
        50,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        31,
        149,
        360,
        666,
        1069,
        1562,
        2134,
        2768,
        3446,
        3474,
        2788,
        2131,
        1535,
        1008,
        563,
        231,
        31,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        21,
        132,
        334,
        646,
        1077,
        1616,
        2253,
        2960,
        3709,
        3725,
        2986,
        2267,
        1602,
        1025,
        551,
        217,
        24,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        18,
        125,
        327,
        644,
        1096,
        1667,
        2350,
        3114,
        3912,
        3940,
        3176,
        2410,
        1698,
        1077,
        572,
        231,
        32,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        25,
        142,
        351,
        676,
        1134,
        1733,
        2453,
        3251,
        4091,
        4044,
        3286,
        2521,
        1784,
        1142,
        610,
        256,
        45,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        52,
        190,
        416,
        758,
        1233,
        1845,
        2573,
        3380,
        4238,
        4000,
        3277,
        2542,
        1828,
        1195,
        652,
        289,
        63,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        21,
        111,
        276,
        530,
        896,
        1386,
        2000,
        2727,
        3539,
        4407,
        3837,
        3160,
        2469,
        1804,
        1210,
        686,
        323,
        86,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        13,
        83,
        210,
        407,
        687,
        1073,
        1579,
        2206,
        2932,
        3742,
        4178,
        3593,
        2957,
        2327,
        1729,
        1192,
        706,
        350,
        108,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        11,
        70,
        181,
        350,
        589,
        903,
        1309,
        1830,
        2460,
        3171,
        3964,
        3789,
        3254,
        2691,
        2142,
        1620,
        1143,
        701,
        360,
        122,
        2,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        11,
        71,
        171,
        326,
        540,
        815,
        1163,
        1594,
        2120,
        2737,
        3439,
        3799,
        3369,
        2885,
        2407,
        1934,
        1481,
        1057,
        668,
        351,
        123,
        4,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        21,
        86,
        186,
        322,
        520,
        785,
        1103,
        1478,
        1919,
        2444,
        3058,
        3639,
        3321,
        2939,
        2531,
        2116,
        1701,
        1306,
        937,
        598,
        313,
        108,
        2,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1,
        51,
        137,
        253,
        396,
        574,
        819,
        1123,
        1475,
        1871,
        2326,
        2847,
        3379,
        3147,
        2859,
        2534,
        2181,
        1818,
        1458,
        1113,
        788,
        497,
        253,
        80,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        8,
        85,
        212,
        372,
        549,
        739,
        959,
        1245,
        1580,
        1951,
        2360,
        2823,
        3076,
        2911,
        2705,
        2455,
        2166,
        1862,
        1549,
        1232,
        920,
        635,
        381,
        180,
        48,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        7,
        95,
        263,
        492,
        750,
        1009,
        1248,
        1496,
        1795,
        2145,
        2537,
        2787,
        2728,
        2617,
        2475,
        2290,
        2070,
        1823,
        1558,
        1289,
        1012,
        743,
        495,
        273,
        114,
        19,
        0,
        0,
        0,
        0,
        0,
        0,
        7,
        99,
        267,
        523,
        892,
        1226,
        1486,
        1721,
        1950,
        2137,
        2274,
        2346,
        2342,
        2284,
        2185,
        2051,
        1891,
        1702,
        1502,
        1281,
        1042,
        801,
        567,
        357,
        179,
        61,
        3,
        0,
        0,
        0,
        0,
        0,
        11,
        60,
        131,
        242,
        427,
        681,
        954,
        1183,
        1395,
        1582,
        1722,
        1824,
        1873,
        1878,
        1837,
        1761,
        1655,
        1522,
        1369,
        1204,
        1020,
        815,
        605,
        410,
        242,
        104,
        24,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        6,
        42,
        120,
        253,
        435,
        638,
        825,
        989,
        1147,
        1264,
        1349,
        1403,
        1425,
        1417,
        1365,
        1285,
        1183,
        1059,
        927,
        773,
        604,
        437,
        283,
        154,
        52,
        4,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1,
        33,
        100,
        202,
        323,
        442,
        573,
        709,
        825,
        919,
        984,
        1025,
        1034,
        1005,
        949,
        869,
        775,
        673,
        557,
        429,
        301,
        184,
        89,
        20,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        4,
        34,
        87,
        156,
        243,
        347,
        454,
        553,
        631,
        687,
        705,
        690,
        651,
        597,
        533,
        462,
        378,
        281,
        186,
        103,
        40,
        2,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        5,
        36,
        99,
        176,
        262,
        342,
        397,
        421,
        420,
        401,
        367,
        327,
        281,
        225,
        162,
        98,
        44,
        9,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        15,
        65,
        123,
        169,
        188,
        197,
        194,
        180,
        160,
        136,
        106,
        69,
        33,
        7,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        4,
        23,
        35,
        43,
        45,
        44,
        40,
        35,
        25,
        10,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
    ],
    tile_revision: 1,
)