(
    version: 1,
    field_id: "water",
    x: 31,
    z: 14,
    samples_per_edge: 33,
    sample_spacing_meters: 8.0,
    source_version: "tf2_0a9cb5fb5409e8fb",
    samples: [
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        58,
        242,
        544,
        982,
        1568,
        2004,
        1690,
        1390,
        1111,
        826,
        590,
        387,
        224,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        62,
        234,
        517,
        937,
        1529,
        2024,
        1747,
        1480,
        1208,
        906,
        653,
        425,
        240,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        75,
        246,
        521,
        933,
        1520,
        2054,
        1813,
        1573,
        1306,
        974,
        713,
        471,
        271,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        6,
        97,
        274,
        550,
        953,
        1531,
        2119,
        1878,
        1631,
        1361,
        1027,
        767,
        528,
        327,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        17,
        123,
        310,
        587,
        983,
        1536,
        2180,
        1927,
        1678,
        1424,
        1105,
        850,
        612,
        416,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        36,
        157,
        351,
        630,
        1017,
        1543,
        2216,
        2038,
        1791,
        1534,
        1217,
        966,
        737,
        546,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        62,
        197,
        401,
        683,
        1068,
        1569,
        2194,
        2169,
        1906,
        1646,
        1358,
        1122,
        907,
        728,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        13,
        100,
        249,
        463,
        748,
        1111,
        1573,
        2135,
        2303,
        2053,
        1795,
        1545,
        1329,
        1134,
        975,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        47,
        153,
        310,
        520,
        792,
        1135,
        1561,
        2076,
        2479,
        2235,
        1996,
        1795,
        1603,
        1435,
        1309,
        0,
        8,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        27,
        108,
        226,
        382,
        585,
        842,
        1161,
        1548,
        2008,
        2529,
        2456,
        2274,
        2103,
        1941,
        1810,
        1722,
        0,
        23,
        3,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        26,
        95,
        197,
        322,
        475,
        659,
        893,
        1179,
        1520,
        1930,
        2406,
        2745,
        2606,
        2482,
        2365,
        2281,
        2226,
        0,
        47,
        18,
        1,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1,
        36,
        105,
        201,
        315,
        439,
        579,
        743,
        945,
        1201,
        1519,
        1893,
        2327,
        2816,
        3021,
        2950,
        2885,
        2837,
        2816,
        0,
        73,
        41,
        15,
        1,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        6,
        46,
        119,
        218,
        332,
        448,
        566,
        690,
        835,
        1013,
        1246,
        1537,
        1881,
        2275,
        2712,
        3188,
        3471,
        3479,
        3513,
        3548,
        0,
        96,
        66,
        39,
        18,
        6,
        1,
        0,
        0,
        0,
        0,
        2,
        16,
        56,
        128,
        230,
        353,
        479,
        593,
        702,
        809,
        933,
        1090,
        1298,
        1566,
        1876,
        2226,
        2609,
        3027,
        3477,
        3977,
        4274,
        4433,
        0,
        122,
        98,
        74,
        53,
        40,
        34,
        31,
        29,
        31,
        38,
        51,
        82,
        145,
        240,
        362,
        498,
        628,
        737,
        832,
        925,
        1032,
        1169,
        1360,
        1606,
        1888,
        2203,
        2551,
        2919,
        3310,
        3733,
        4209,
        4730,
        0,
        152,
        143,
        130,
        118,
        113,
        112,
        111,
        112,
        117,
        129,
        148,
        192,
        270,
        378,
        507,
        642,
        767,
        868,
        955,
        1039,
        1132,
        1256,
        1431,
        1658,
        1917,
        2203,
        2508,
        2833,
        3163,
        3515,
        3910,
        4339,
        0,
        192,
        205,
        213,
        220,
        230,
        237,
        241,
        242,
        244,
        255,
        279,
        332,
        419,
        532,
        661,
        791,
        907,
        998,
        1075,
        1149,
        1234,
        1346,
        1508,
        1714,
        1943,
        2195,
        2457,
        2727,
        2996,
        3283,
        3605,
        3947,
        0,
        232,
        274,
        315,
        352,
        386,
        408,
        411,
        408,
        406,
        411,
        435,
        492,
        585,
        697,
        819,
        940,
        1043,
        1122,
        1189,
        1251,
        1326,
        1426,
        1571,
        1752,
        1948,
        2170,
        2397,
        2614,
        2800,
        3024,
        3297,
        3601,
        0,
        279,
        354,
        433,
        516,
        584,
        621,
        622,
        606,
        593,
        592,
        616,
        676,
        768,
        875,
        988,
        1096,
        1185,
        1251,
        1304,
        1356,
        1413,
        1497,
        1617,
        1771,
        1934,
        2114,
        2321,
        2523,
        2632,
        2800,
        3025,
        3290,
        0,
        333,
        448,
        568,
        688,
        794,
        853,
        865,
        844,
        816,
        801,
        824,
        890,
        981,
        1083,
        1188,
        1280,
        1354,
        1401,
        1435,
        1474,
        1513,
        1573,
        1669,
        1792,
        1919,
        2056,
        2215,
        2389,
        2455,
        2589,
        2783,
        2994,
        0,
        389,
        538,
        697,
        847,
        982,
        1074,
        1099,
        1085,
        1059,
        1043,
        1066,
        1133,
        1224,
        1324,
        1421,
        1503,
        1559,
        1590,
        1608,
        1623,
        1643,
        1678,
        1745,
        1834,
        1923,
        2013,
        2127,
        2269,
        2277,
        2366,
        2504,
        2648,
        0,
        446,
        607,
        780,
        947,
        1099,
        1210,
        1271,
        1297,
        1301,
        1315,
        1354,
        1430,
        1528,
        1624,
        1708,
        1781,
        1825,
        1836,
        1825,
        1809,
        1795,
        1800,
        1834,
        1891,
        1949,
        2007,
        2083,
        2158,
        2117,
        2154,
        2212,
        2295,
        0,
        498,
        657,
        826,
        995,
        1160,
        1294,
        1401,
        1478,
        1539,
        1599,
        1668,
        1763,
        1878,
        1984,
        2064,
        2123,
        2146,
        2130,
        2089,
        2036,
        1982,
        1945,
        1940,
        1963,
        1995,
        2044,
        2083,
        2095,
        2018,
        1982,
        1975,
        2013,
        0,
        545,
        693,
        848,
        1008,
        1166,
        1326,
        1476,
        1615,
        1744,
        1867,
        1985,
        2107,
        2238,
        2346,
        2428,
        2480,
        2494,
        2466,
        2395,
        2299,
        2191,
        2102,
        2053,
        2043,
        2056,
        2090,
        2106,
        2069,
        1951,
        1864,
        1805,
        1787,
        0,
        579,
        717,
        855,
        1001,
        1155,
        1327,
        1519,
        1718,
        1917,
        2105,
        2258,
        2407,
        2554,
        2670,
        2759,
        2810,
        2822,
        2774,
        2678,
        2551,
        2412,
        2285,
        2193,
        2155,
        2140,
        2131,
        2091,
        2008,
        1910,
        1796,
        1694,
        1610,
        0,
        601,
        724,
        851,
        984,
        1140,
        1326,
        1542,
        1783,
        2028,
        2260,
        2456,
        2627,
        2790,
        2923,
        3017,
        3075,
        3082,
        3031,
        2917,
        2765,
        2597,
        2440,
        2319,
        2239,
        2186,
        2138,
        2084,
        2010,
        1898,
        1758,
        1634,
        1541,
        0,
        610,
        728,
        847,
        978,
        1131,
        1323,
        1558,
        1819,
        2092,
        2356,
        2572,
        2769,
        2947,
        3092,
        3199,
        3260,
        3278,
        3217,
        3089,
        2919,
        2730,
        2552,
        2410,
        2305,
        2229,
        2169,
        2103,
        2017,
        1894,
        1736,
        1587,
        1522,
        0,
        600,
        724,
        854,
        989,
        1143,
        1336,
        1571,
        1839,
        2120,
        2395,
        2618,
        2820,
        3041,
        3199,
        3313,
        3379,
        3395,
        3338,
        3208,
        3036,
        2845,
        2658,
        2502,
        2385,
        2297,
        2222,
        2145,
        2054,
        1934,
        1785,
        1625,
        1482,
        0,
        576,
        704,
        844,
        995,
        1159,
        1360,
        1599,
        1867,
        2150,
        2428,
        2676,
        2890,
        3098,
        3260,
        3377,
        3447,
        3463,
        3414,
        3297,
        3140,
        2964,
        2788,
        2630,
        2500,
        2397,
        2305,
        2210,
        2106,
        1988,
        1875,
        1718,
        1547,
        0,
        525,
        673,
        834,
        1002,
        1183,
        1380,
        1619,
        1882,
        2162,
        2438,
        2692,
        2923,
        3125,
        3285,
        3397,
        3461,
        3483,
        3452,
        3360,
        3237,
        3090,
        2935,
        2786,
        2656,
        2543,
        2439,
        2339,
        2240,
        2139,
        2033,
        1893,
        1701,
        0,
        467,
        630,
        810,
        993,
        1179,
        1372,
        1600,
        1854,
        2121,
        2396,
        2661,
        2898,
        3109,
        3267,
        3372,
        3436,
        3462,
        3454,
        3403,
        3317,
        3208,
        3083,
        2949,
        2828,
        2720,
        2623,
        2525,
        2421,
        2318,
        2209,
        2064,
        1877,
        0,
        410,
        576,
        762,
        962,
        1149,
        1338,
        1553,
        1795,
        2051,
        2316,
        2568,
        2803,
        3009,
        3170,
        3286,
        3354,
        3396,
        3411,
        3399,
        3365,
        3293,
        3207,
        3097,
        2990,
        2889,
        2799,
        2713,
        2626,
        2527,
        2402,
        2233,
        2044,
        0,
        365,
        526,
        710,
        901,
        1081,
        1261,
        1465,
        1694,
        1934,
        2175,
        2420,
        2656,
        2868,
        3028,
        3140,
        3215,
        3276,
        3319,
        3342,
        3345,
        3320,
        3277,
        3207,
        3120,
        3042,
        2974,
        2898,
        2813,
        2729,
        2610,
        2464,
        2325,
        0,
    ],
    tile_revision: 1,
)