(
    version: 1,
    field_id: "water",
    x: 4,
    z: 1,
    samples_per_edge: 33,
    sample_spacing_meters: 8.0,
    source_version: "tf2_0a9cb5fb5409e8fb",
    samples: [
        5826,
        5723,
        5613,
        5504,
        5404,
        5388,
        5498,
        5457,
        5205,
        4886,
        4491,
        4059,
        3627,
        3197,
        2772,
        2353,
        1946,
        1547,
        1165,
        825,
        541,
        323,
        173,
        70,
        7,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        5714,
        5590,
        5464,
        5339,
        5217,
        5093,
        4932,
        4727,
        4470,
        4160,
        3793,
        3407,
        3037,
        2676,
        2317,
        1956,
        1593,
        1233,
        896,
        601,
        361,
        184,
        71,
        7,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        5649,
        5311,
        4981,
        4729,
        4565,
        4427,
        4251,
        4034,
        3774,
        3473,
        3132,
        2789,
        2477,
        2178,
        1881,
        1575,
        1256,
        938,
        647,
        400,
        208,
        76,
        8,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        5120,
        4721,
        4395,
        4144,
        3974,
        3825,
        3638,
        3414,
        3155,
        2864,
        2546,
        2241,
        1974,
        1725,
        1478,
        1220,
        944,
        669,
        426,
        228,
        86,
        8,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        4613,
        4219,
        3894,
        3642,
        3465,
        3308,
        3117,
        2892,
        2639,
        2361,
        2063,
        1785,
        1549,
        1333,
        1120,
        899,
        663,
        432,
        237,
        92,
        9,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        4188,
        3802,
        3482,
        3231,
        3049,
        2885,
        2686,
        2459,
        2207,
        1938,
        1658,
        1402,
        1187,
        994,
        807,
        617,
        419,
        234,
        91,
        8,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        3811,
        3442,
        3134,
        2887,
        2705,
        2530,
        2318,
        2080,
        1822,
        1557,
        1293,
        1059,
        866,
        696,
        535,
        377,
        220,
        86,
        6,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        3463,
        3115,
        2824,
        2587,
        2404,
        2219,
        1992,
        1741,
        1477,
        1216,
        969,
        759,
        589,
        443,
        310,
        186,
        75,
        4,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        3128,
        2803,
        2531,
        2306,
        2124,
        1931,
        1693,
        1433,
        1167,
        914,
        688,
        504,
        359,
        240,
        139,
        54,
        1,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        2793,
        2491,
        2238,
        2025,
        1846,
        1650,
        1409,
        1148,
        889,
        652,
        451,
        296,
        180,
        92,
        28,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        2447,
        2167,
        1930,
        1728,
        1554,
        1363,
        1129,
        880,
        642,
        430,
        260,
        138,
        56,
        8,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        2104,
        1842,
        1619,
        1428,
        1262,
        1080,
        866,
        643,
        434,
        256,
        121,
        36,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1792,
        1545,
        1334,
        1153,
        995,
        829,
        639,
        448,
        274,
        132,
        36,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1515,
        1284,
        1084,
        913,
        765,
        615,
        453,
        294,
        156,
        51,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1281,
        1062,
        875,
        714,
        577,
        445,
        308,
        180,
        75,
        8,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1093,
        886,
        710,
        560,
        434,
        317,
        203,
        101,
        25,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        951,
        756,
        590,
        451,
        335,
        231,
        133,
        52,
        2,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        858,
        668,
        508,
        375,
        268,
        174,
        89,
        24,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        806,
        614,
        452,
        321,
        220,
        135,
        62,
        10,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        788,
        587,
        420,
        288,
        190,
        113,
        48,
        5,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        796,
        585,
        410,
        274,
        177,
        105,
        45,
        5,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        823,
        603,
        420,
        280,
        183,
        112,
        53,
        10,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        831,
        609,
        425,
        285,
        190,
        121,
        61,
        15,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        795,
        583,
        408,
        275,
        185,
        118,
        60,
        15,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        722,
        527,
        366,
        246,
        164,
        103,
        49,
        9,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        625,
        450,
        308,
        202,
        131,
        78,
        32,
        2,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        515,
        362,
        241,
        152,
        93,
        49,
        14,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        405,
        273,
        172,
        99,
        54,
        22,
        1,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        304,
        191,
        108,
        52,
        20,
        3,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        202,
        111,
        48,
        12,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        99,
        37,
        4,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        5,
        21,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        1,
        6,
        12,
        20,
        32,
        51,
        76,
        105,
        149,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        3,
        36,
        81,
        122,
        157,
        185,
        210,
        236,
        268,
        305,
        342,
        378,
        429,
    ],
    tile_revision: 1,
)